[2013-03-25 02:56] pimterry opened #1 "Currently fails in chrome (probably elsewhere too) because console methods aren't bound to console"
Need to add binding of methods to console to make this workable basically anywhere.

Probably also need to define bind() if not otherwise available to provide backwards compatibility, because it's new.

[2013-03-25 02:57] pimterry opened #2 "Should also be able to setLevel by name"

[2013-03-25 02:58] pimterry opened #3 "Need an automated cross-browser test suite that checks browser integration"

[2013-03-26 01:52] #1 closed, assigned to pimterry

[2013-03-26 01:52] #2 closed, assigned to pimterry

[2013-03-26 22:42] pimterry opened #4 "Write up some documentation"

[2013-03-26 22:43] pimterry opened #5 "Check, and maybe fix, compatibility with old old versions of IE"

[2013-03-26 22:46] pimterry opened #6 "Publish to the NPM registry"

[2013-03-27 14:38] pimterry opened #7 "Add (and test and document) support for installation via Bower"
See https://github.com/twitter/bower

[2013-04-01 15:42] #3 closed, assigned to pimterry

[2013-04-01 15:44] pimterry opened #8 "Find a way to automatically test with IE developer tools etc open"
Current tests do a sanity check to ensure that nothing explodes when the console is used normally. This needs to be extended to ensure that it also works after the developer console has been opened, if possible, since things like the IE dev console add a console object to the global env once they've been opened.

[2013-04-01 23:17] pimterry opened #9 "Remember log level on a per-site basis with session cookies"

[2013-04-02 15:44] pimterry opened #10 "Rewrite in CoffeeScript?"
Because it might be a bit nicer, and quite fun.

[2013-04-02 16:05] #6 closed, assigned to pimterry

[2013-04-02 16:05] #4 closed, assigned to pimterry

[2013-04-02 17:09] pimterry opened #11 "Add (and test and document) installation via JamJS"
More package management options! See http://jamjs.org/

[2013-05-23 10:52] pimterry opened #13 "Remember log level in local storage instead of cookies, if available"
Cookies are a bit of a messy solution for this, since they end up getting sent to the server too, and could potentially have naming conflicts with the site's own cookies. If it's possible, localstorage should be used instead.

[2013-06-01 02:16] rymohr opened #14 "Quick correction for browser"
Too small for a pull request.  To work in the browser this line has to be changed:

[code]

Thanks for the library.  Exactly what I was looking for!

[2013-06-01 09:05] pimterry opened #15 "Add tests for library setup"
#14 is a bug in loglevel loading when it's used globally. The integration tests should be extended as smoke tests for each import method to catch stuff like this.

[2013-06-01 09:06] #14 closed, assigned to pimterry

[2013-06-19 02:55] Aintaer opened #16 "Redirection of log messages"
I don't know if it is outside the scope of this library, but I would like to use loglevel to redirect log messages of a level to, say, an error reporting endpoint.

Something like:

[code]

[2013-06-19 09:34] #16 closed, assigned to nobody

[2013-06-19 16:43] kellynichols opened #17 "ReferenceError when using directly in web page"
When using v0.1.0 directly in my web page, I'm receiving "ReferenceError: log is not defined". I changed line 10 from:

this.name = definition();

to:

this[name] = definition();

and it worked.

[2013-06-19 16:47] #17 closed, assigned to nobody

[2013-06-19 16:53] #9 closed, assigned to pimterry

[2013-06-19 19:40] #7 closed, assigned to nobody

[2013-06-19 20:49] #11 closed, assigned to nobody

[2013-06-20 19:21] pimterry opened #18 "Publish as a component (component.io)"

[2013-06-21 00:23] sporto opened #19 "It is really necessary to create and destroy methods?"
Hi

I notice that you create and destroy the methods on the fly. Or something like.
The thing is that doing this prevents me from being able to do something like this:

[code]

Meaning I am able to abstract your library just in case we need to switch it later.

This works, buts looks unnecessary:

[code]

Thanks

[2013-06-28 11:37] pimterry opened #20 "Add loglevel to CDN JS"
Lightweight is all very well, but having users easily all have the library pre-cached is much better. Now that it's got a reasonable amount of popularity, loglevel should be added to https://github.com/cdnjs/cdnjs to make that happen.

[2013-07-03 15:22] kraf opened #21 "loglevel doesn't play nice with modernizr on ie8"
modernizr introduces the bind method to Function.prototype in IE8 which then throws errors when loglevel library is loaded. this seems to happen because in IE8 methods like console.log and console.error have types object (i.e. "typeof console.log === 'object' and typeof console.log !== 'function').

[2013-07-28 23:15] #13 closed, assigned to pimterry

[2013-07-29 13:12] madarche opened #22 ""grunt uglify" doesn't update loglevel.min.js code"
"grunt uglify" produces dist/loglevel.min.js alright, but its code is not updated, only the banner is.

[2013-07-29 22:20] #22 closed, assigned to nobody

[2013-07-29 23:27] #19 closed, assigned to nobody

[2013-09-01 18:24] ledovsky opened #25 "Is it possible to write all logging info into variable?"
Hey guys! I have a pretty tricky js app and I want to make available for user to send log info to the server.
Is it possible to write all logging info into variable?

[2013-09-01 19:07] #25 closed, assigned to nobody

[2013-09-04 18:50] jiggle opened #26 "console.group?"
Really great utility.  Well done.  I wonder if there are any plans to support the group method?

[2013-09-18 21:15] #10 closed, assigned to nobody

[2013-09-22 01:34] #15 closed, assigned to pimterry

[2013-09-22 13:19] pimterry opened #28 "Check up on Rhino & Nashorn compatibility"

[2013-10-09 11:52] orangecoding opened #29 "logger doesn't work in IE 8"
Hey,

we wanted to use your implementation to log error messages in our webapps. Unfortunaltelly IE 8 doesn't log any messages. If I open IE Dev Tools, it adds the console to the main scope.

None the less it seems like your lib thinks there is no console object available.

I tried to open Dev Tools and reload the page, but no luck.

Here's a little snippet:

[code]

[2013-10-10 14:43] pimterry opened #30 "Should be able to redirect logging through custom external logging mechanisms"
See https://github.com/pimterry/loglevel/issues/29#issuecomment-26031204

Loglevel is not going to gain appender-style functionality, with pluggable redirectors or similar because that's quite heavyweight and there are other big heavyweight logging projects which already do that (e.g. http://log4javascript.org/).

The current log method setup does internally use `replaceLoggingMethods(logMethodFac

[2013-10-13 16:14] #20 closed, assigned to pimterry

[2013-10-13 17:41] #29 closed, assigned to nobody

[2013-10-13 17:43] #21 closed, assigned to nobody

[2013-10-13 17:53] pimterry opened #31 "Get some hard numbers on exactly how far back browser support & testing goes"
The tests currently check loglevel works in everything from IE6+/FF3.6+/every Chrome I can find/current android/current iDevice/current Opera/current Safari/current Node. It'd be good to check how far further back compatibility goes though, and have that visible upfront.

Main constraints is the test suite, which uses a Jasmine runner that breaks in FF<3.6 & IE <9, at least. Loglevel otherwise is

[2013-12-09 00:37] pimterry opened #34 "Publish as NuGet package"

[2013-12-12 17:31] pimterry opened #36 "Create a CONTRIBUTING.md"

[2013-12-25 08:21] shihshen opened #37 "Will loglevel support module logging"
Hi Tim,
I am wondering if loglevel plan to support module logging like:
https://github.com/dingyonglaw/JSLog

Powpow.

[2013-12-27 02:29] #37 closed, assigned to nobody

[2014-01-24 16:06] xjamundx opened #39 "Add A Hook For Logging to the Server"
I think this library looks great. We just want something where everytime you get a certain level of errors we POST those to the server. Any suggestions on how to do that? Maybe we can put it in an eventEmitter and say something like.

[code]

I'm happy to work on a pull request to support that functionality

[2014-02-11 23:08] cowwoc opened #41 "Ability to format output"
Please add support for formatting the output. For example: http://log4javascript.org/docs/manual.html#patternlayout

This will allow users to log things like the time an event occurred, which file/module it came from, and so on. It's easier to centralize this as a configuration option than re-type the syntax each time we log.

[2014-02-11 23:28] #41 closed, assigned to nobody

[2014-02-13 20:36] #39 closed, assigned to nobody

[2014-03-14 12:20] pimterry opened #42 "Add a useful mechanism to use loglevel in sites that are already using console.log, and want to add compatibility"
`log.replaceConsole()`, for example, to make console.X then work reliably, even if you're in IE etc.

[2014-05-07 17:14] foxx opened #44 "Add support for formatters and args"
Having support for formatters and args (similar to console.log) would be nice.

For example;

[code]

This results in;

[code]

I was able to achieve this with a wrapper, but it'd be nice to have something similar in the core;

[code]

Happy to send a PR with a real patch if something like this would get accepted.

I've only tested this in browser btw.

[2014-05-08 13:09] #44 closed, assigned to nobody

[2014-06-02 21:33] maihde opened #46 "loglevel cannot be used with qunit"
I have a JavaScript project where I wish to use loglevel without AMD or RequireJS.  It works fine until I attempt to run my QUnit tests.  The first problem is that QUnit declares it's own global log() method, the second is that QUnit also declares a global module object so loglevel goes into the RequireJS initialization path, finally when Qunit is loading <script> elements the window element is st

[2014-08-03 11:43] #46 closed, assigned to nobody

[2014-08-25 09:02] francoisTemasys opened #51 "Add Prefix"
Hi,

Could it be possible to get prefix keywording implemented ?
for example:

[code]

Thanks

PS: @pimterry  Great Job!

[2014-10-05 19:53] #51 closed, assigned to nobody

[2014-10-05 19:55] #30 closed, assigned to nobody

[2014-10-07 09:34] #36 closed, assigned to pimterry

[2014-10-24 10:31] RyanHirsch opened #58 "Plugin functionality not working"
I've tried copying the 'Newsflash' example to this jsbin - http://jsbin.com/cupig/1/edit?html,js,console,output and it doesn't seem to be working.

[code]

From what I can tell, the `methodFactory` is not being called at all.

[2014-10-24 10:43] #58 closed, assigned to nobody

[2014-11-07 00:48] orderamidchaos opened #59 "Record of log"
Is there any way to send the error message simultaneously to a variable for generating a bug report?

[2014-11-07 09:51] #59 closed, assigned to nobody

[2015-01-14 13:51] artemyarulin opened #60 "Plugin example from readme doesn't work"
Hi, thank you for your project.

Maybe I'm missing something but I cannot get your example plugin from readme working. It should add prefix for each log level, but at the end it does nothing. Here [jsfiddle](http://jsfiddle.net/n72n9m0p)

Doesn't work in latest Chrome

[2015-01-15 11:15] artemyarulin commented on #60
OK, I found two reasons for that:
1) CDN url was outdated (it was pointing to v.0.0.6) (see #61 )
2) `replaceLoggingMethods` has to be called after `log.methodFactory` replacement. The easiest way is to make a call through `setLevel` function. I'm not sure - it this a bug or expected behavior? If yes - it should be mentioned in README

Thanks

[2015-01-15 13:01] pimterry commented on #60
Ah, nice spot, yes. I think I must've been calling setLevel myself when I set that up. Would you be up for updating the docs to cover this?

An alternative solution where we add a setter or something for methodFactory which automatically rebuilds the logging methods would be fine too, but probably trickier.

[2015-01-15 13:04] artemyarulin commented on #60
Great - I'll create a pull request. On a side note - do you have somewhere list of loglevel plugins? I'm thinking of creating one (to send logs to the server), maybe it exists already?

[2015-01-15 13:04] #60 closed

[2015-01-16 19:31] pimterry commented on #60
Not yet; the plugin API was only added relatively recently, and I think this would be the first. Very happy to add one to the README though.

[2015-01-16 21:51] artemyarulin commented on #60
Cool to be the first one :)
Here the [loglevel-serverSend](https://github.com/artemyarulin/loglevel-serverSend), works for me and with your project my development life became a little bit easier, thanks again!

[2015-01-22 01:42] sompylasar opened #64 "Missing 'log' method to serve as a drop-in replacement for 'console'"
I'd like to replace all `console.*` calls to `loglevel.*` calls but I discovered that there is no `log` method which is widely used with `console`. The `info` method does not fit well because the browser console highlights the info message with an icon making these messages somewhat more specific than default logging.

Any chance adding `log`?

[2015-01-25 21:45] pimterry commented on #64
I'd suggest using debug instead, for starters, since most browsers treat that as the standard default unmessed-around version.

Anyway, I'm a bit averse to adding an actually adding a new case for `.log()`, because it doesn't fit well within the range of levels. Every single other logging tool I'm aware of uses the same set (trace/debug/info/warn/error), and the consistency there is useful. In add

[2015-01-26 08:09] sompylasar commented on #64
No, it does not. The browser console outputs the `log` and `debug` messages
differently.

[2015-01-26 08:16] mroderick commented on #64
For me it is important that loglevel's api looks familiar to developers from non-JavaScript platforms.

@sompylasar you can always decorate or wrap loglevel after loading it, or even create a plugin if you want.

I use these two methods in a current project, so that including loglevel on a webpage is optional.

[code]

[2015-01-26 18:35] sompylasar commented on #64
If non-JS developers are the target audience of this library, this should
likely be stated. For me this library is a wrapper around the browser
console which handles all of its inconsistencies in a small amount of code.

Decorating `loglevel` won't add a `loglevel.log` wrapper around
`console.log` hence this issue. There is no public API to wrap any method
of the browser `console` object. Moreover

[2015-01-26 21:08] pimterry commented on #64
Which browser are you using that renders .debug and .log differently? In both Chrome and Firefox locally I see exactly the same thing. Chrome's [own docs](https://developer.chrome.com/devtools/docs/console-api#consoledebugobject-object) actually describe it as identical to console.log. Is there another browser that's not matching up with that?

Non-JS developers aren't explicitly the target of thi

[2015-01-26 23:42] sompylasar commented on #64
I use the latest Google Chrome, the devtools console renders `debug` in
blue color, `log` in black color, `info` in black color with a blue info
icon on the left.

I needed a tiny library that copes with console inconsistencies and is
browserifiable/webpackable. For my case I forked and patched `loglevel` to
remove persistence and add `log` as a second method on the `INFO` level
(see my fork:
http

[2015-02-14 23:33] rbabayoff opened #68 "Supporting multiple loggers"
Hey,

In large projects it is extremely useful to have the flexibility of defining different log levels for different modules / subsystems / files / objects, especially during debugging or bug chasing, in order to only see debug and trace log levels for a specific object / module. I have already implemented something like that in our wrapped loglevel meteor package:

https://github.com/practicalme

[2015-02-27 10:52] edhgoose opened #69 "Add option to choose whether requirejs is used or not"
I'll admit this is a bit of an edge case:

We have a JavaScript library which we're loading on our clients sites. We don't control our clients sites, but do control ours (of course).

We recently added loglevel to our library to help with diagnosing issues, and found that it works great (thx!), except on one client who uses RequireJS. Our workaround was to therefore strip out the bit of loglevel t

[2015-03-02 08:31] pimterry commented on #69
Interesting, ok. I do think this is a bit of a strange case, so I'm not too keen to support it directly. There should be a few different things you can do to handle it yourself though:

* Use loglevel within require. Add it as a dep to the relevant code, or put in new blocks depending on it where necessary. This is definitely the 'right' way of doing it, if you can.

[code]

* Use require to make

[2015-03-02 10:12] edhgoose commented on #69
Interesting ideas. Totally agree this is an edge case, but good to have some ideas to think about.

Here's some thoughts:

1. Agree this is the correct way, but only one of our N clients uses require. We'd have to have something in our code saying if require do x, if amd do y, if neither do z. So it's slightly more complicated, but probably the correct way for us to do it.

2. We're actually using

[2015-03-02 21:20] dmwyatt opened #70 "Get current logging level."
For some operations it is good to know the current logging level.

For example, if you do string concatenation in your logging statements that are in sections of code that get called a lot, Javascript does the relatively-expensive string concatenation even if the current logging level won't actually output the string.

I think something like `log.getLevel()` would be useful so you could do the exp

[2015-03-17 04:09] notthetup commented on #70
:+1:

[2015-03-17 08:06] mroderick commented on #70
@dmwyatt you make a good argument. How implementing it and make a pull request?

[2015-03-26 22:07] pimterry commented on #69
Closing this; I don't think I want to support this directly. If you do find a nice way to do this, either externally or in a small clean way within loglevel I'd be interested to hear it, but otherwise I'm going to leave this be for now. Thanks for raising it though, definitely an interesting point.

[2015-03-26 22:07] #69 closed

[2015-04-15 23:43] daniellmb commented on #70
+1

[2015-04-15 23:57] daniellmb opened #71 "Any interest in stubbing/passingthrough other console methods?"
I'd like to use a single consistent API to call other methods like `console.time` or `console.table` But I don't want those methods to fail in old browsers, and I don't want to litter my code with checks to see what's supported everywhere. So I'm interested in adding something like this (from Ben Alman's debug lib). If not here, I'll just fork loglevel and add it for just me :)

[code]

Thoughts?

[2015-04-18 11:33] pimterry commented on #71
In principle, sure. With a few caveats: they need to work sensibly with the set level (tricky problem: group should probably work at any level, but should time/timeEnd?), and they need to work consistently in every browser that supports them (have all the browsers implemented these the same way?).

As long as it fits in that, and it doesn't make the library vastly more complicated then I'd be happ

[2015-04-19 14:11] daniellmb commented on #71
I was thinking of something simple like this (untested sudo code)

[code]

[2015-04-24 20:39] daniellmb commented on #71
I'm going to go with forking.

[2015-04-24 20:39] #71 closed

[2015-06-22 17:32] Mr0grog opened #74 "Ability to set level only if one is not persisted"
In environments where a logging level has been explicitly set and persisted (usually a developer’s browser), it’d be nice to be able to leave the logging level alone, while otherwise giving a default logging level to use if one hasn’t been persisted. The only way to accomplish this right now is to explicitly peek into local storage or cookies to see if a value is set, which isn’t very nice.

I’m t

[2015-06-24 00:38] Mr0grog commented on #74
I'm happy to do a PR for this if you'd like, too.

[2015-06-24 00:46] Mr0grog commented on #68
I’d definitely second this request. It could probably be done in a pretty light-weight fashion and would be extremely valuable for large projects, like one I’m consulting on now.

[2015-06-25 18:10] redbrain opened #76 "Love your library!"

[2015-06-28 14:18] pimterry commented on #76
Awesome, thanks! It's great to hear nice things, that means a lot :-). Hope you find it useful!

[2015-06-28 14:18] #76 closed

[2015-06-28 14:24] pimterry commented on #68
Great idea, I can definitely see how this could be useful. At the same time, I'm very much fighting to keep the loglevel API and codebase as simple as possible, since ultra-lightweight reliable quick easy logging is really the most important thing I'm going for here.

What would the API for this look like? If you can come up with something that's:

* Backward compatible
* Simple to use
* Simple to

[2015-06-29 05:21] rbabayoff commented on #68
@pimterry, following is what I suggest as an API that is backwards compatible:

1. Create a new constructor function that actually creates and returns the logger.

2. The default global logger is automatically created on library load, as before.

3. To create a new logger, you call `log.newLogger()` or `log.createLogger()`, which calls the constructor function.

4. The constructor function support

[2015-06-29 08:09] #74 closed

[2015-07-06 17:27] pimterry commented on #68
I think I'd like to keep this a bit simpler, as long as it's possible to do so while still solving your use case. How does the below sound:

* We add .newLogger() to loglevel - this creates a new independent logger, copying over the level from the logger this is called on.

* We implement prefix logging as a drop-in plugin. I think this should be very doable by extending the logFactory (to add the

[2015-07-06 21:29] rbabayoff commented on #68
This is exactly what I was meaning, with the addition of also having a:

[code]

And newLogger just calls this behind the scenes.

Regarding persistence, right now, I'm treating the prefix as a namespace, and that's why I'd like the possibility to also pass in prefix to a constructor. We can support another `.setNamespace` function, if we don't use prefix for namespace, but I think it's overkill.

[2015-07-07 03:41] Mr0grog commented on #68
I think having names/namespaces for the loggers is pretty important. To go back to the primary use-case that started this thread:

Having names for the loggers allows you to configure them from somewhere other than inside the module itself, which I think is important to addressing the use-case effectively. You might configure them from the console while debugging or from some sort of application c

[2015-07-07 03:48] Mr0grog commented on #68
Having names for logging also conveniently solves the persistence problem, too ;)

[2015-07-07 16:19] madarche commented on #70
+1

[2015-07-07 17:18] rbabayoff commented on #68
@Mr0grog I like your approach. To build on that, how calling it `loglevel.logger('name')` instead, and after it's created, actually being able to also call it as follows:

[code]

Which allows you to do the following, if name is `myname`:

[code]

[2015-07-07 21:09] Mr0grog commented on #68
Hmmm, I like the convenience there, but I’m not sure that’s really such a good idea in the end. What happens when someone wants to name a logger the same as a built-in loglevel method (e.g. if I name my loggers the same as my modules and I have a module named `methodFactory`)? Or if loglevel’s methods/properties ever need to be renamed or have new ones added? Feels like we’d be asking for collisio

[2015-07-08 04:46] rbabayoff commented on #68
I solved it similarly in a sinon stubs factory behaving the same by disallowing reserved names, throwing an exception if a reserved name was used - and the reserved name list can be easily generated by enumerating properties on construction time. And the productivity enhancement, typing and auto-complete wise, was worth it. But, it's definitely not a must to get this out of the door. @pimterry see

[2015-07-08 15:47] marcelboettcher commented on #70
+1 need it as well to init my plugin, which is done by setting the level at the moment. But I don't want to override the current level. Better would be an init / initPlugins method for that, but getting the current log level would provide me a work around.

[2015-07-10 07:13] idolizesc opened #79 "New NPM release?"
Hey - love the library!

I'd like to take advantage of the new `setDefaultLevel()` method -- any chance we can get a new release on npm soon with that functionality?

Thanks :+1:

[2015-07-11 20:43] pimterry commented on #68
Right, back again. Thoughts:

* Namespaces are the right solution to the persistence problem, very neat. Happy to go with that.
* Have loglevel take a namespace to the new logger method, but know nothing about prefixes (and then having a plugin potentially interpret this as a prefix, or add a separate setPrefix method, or anything else) seems like a nice simple solution, and passing the namespace

[2015-07-12 01:52] Mr0grog commented on #68
This sounds pretty good to me. A few more thoughts I had:

- It *might* be useful to have a `destroy()` or `dispose()` method on logger objects (excepting the default one). In order for `getLogger()` to return existing loggers, it’ll have to keep a handle on all of them, so they can never be garbage collected (unless maybe we use a WeakMap). On the other hand, it seems unlikely that the number of

[2015-07-12 11:59] pimterry commented on #70
Hi @marcelboettcher; that sounds interesting, can you send me some more details on what you're trying to do, and why you need to log level to do so? There is a PR in for this now anyway, but I'd be interested to take a closer look if there's something that you need better support for to manage your plugin initialization.

[2015-07-12 12:02] pimterry commented on #79
Thanks! There's a few more open changes that I'd like to get finalized and merged in the short term, but there'll definitely be one coming within the next few weeks.

[2015-07-13 06:53] marcelboettcher commented on #70
Hey @pimterry, at the moment I need to set the log level after defining the plugin to register it, right? It just does not feel right to set any level for that reason as I want to stick to the level, which is set for a good reason.

Am I mixing things up here?

Looking forward to you bringing light into the darkness. Thx, Marcel

[2015-07-13 13:42] pimterry commented on #68
I'm not too worried about needing destroy/dispose. Could use a WeakMap where available, but I'm happy to ignore it for now, until somebody ever finds a real problem where it'd be useful.

My concern with configuration is just that it increases complexity, and we don't need it (yet). I really really really want to keep this as simple as possible where we can.

You're right that the hierarchy gets c

[2015-07-13 17:26] Mr0grog commented on #68
I agree that it’s great if the package itself is a logger that you can use the same as any other. That said, I don’t think there’s anything wrong with the package itself *also* having some extra goodies. I think it’s totally reasonable that it be a “logger plus,” as it were.

Personally, I think the hierarchy stuff could be really valuable and important, but I agree we could leave it unaddressed f

[2015-07-14 22:26] pimterry commented on #70
Ah, I see, interesting. Yep, that makes sense. Once we've got the current level tracked though (as in the new related PR) this gets easier.

Would your issues be solved with an initPlugins() method, which basically just reset the level to the current level? I.e. equivalent to calling log.setLevel(log.getLevel()).

Alternatively, thoughts on moving from setting a `.methodFactory` field to instead h

[2015-07-15 08:43] marcelboettcher commented on #70
yes, initPlugins() would solve that, but your approach with .setMethodFactory() is much cleaner. You should still support the property .methodFactory for backward compatible, but mark it as depricated.

[2015-07-20 12:24] Stexxen commented on #70
Slightly different use case for me. Something like ```log.isDebug()``` which returns true is debug messages are going to the console.

This is for debug code that is computational expensive, so I don't even want to execute it, instead of executing and then throwing it away.

This would be similiar the Java logback interface http://logback.qos.ch/apidocs/ch/qos/logback/classic/Logger.html

[2015-07-20 12:31] madarche commented on #70
@Stexxen with #77 you would do the following:

    if (log.getLevel() <= log.levels.DEBUG) {
        // Do your computational expensive code
    }

[2015-07-20 12:33] Stexxen commented on #70
ahhh ok, just to check, would <= in this situation mean DEBUG+TRACE or DEBUG+INFO+ERROR?

i.e are the levels Big Endian/Little Endian.

Might still be worth a wrapper function, as it would not be 100% clear when another developer reviews the code.

[2015-07-20 12:42] madarche commented on #70
@Stexxen in this situation `<= ` means DEBUG+TRACE cf. https://github.com/pimterry/loglevel/blob/master/lib/loglevel.js#L116

This is true that this comparison is not 100% clear but it's generic and thus keeps the library code smaller. Personally I just need the "get current level" functionality and could live with a not perfectly clear condition since the context around would disambiguate the pur

[2015-07-20 14:40] Wirone opened #80 "Custom logger methods (created with factory) are not muted when SILENT level is set"
In this case:

[code]

Calling `logger.log('Something')` will output data even if `app.config.debug === true` because in `setLevel()` you're calling `replaceLoggingMethods()` which iterates only `logMethods` and that array is not updated when calling `methodFactory()`. In other words: every method created with factory will always output data to console.

For now I use:

[code]

But it's not proper

[2015-07-20 23:17] Stexxen commented on #70
@madarche True.
and thanks for the src link.
S.

[2015-07-21 22:28] Mr0grog commented on #68
Ok, wrote a really simple implementation in #81 this afternoon.

[2015-07-22 20:59] #70 closed

[2015-07-22 21:09] pimterry commented on #80
Ah, interesting. This doesn't work because it's not really how it's meant to be used I'm afraid.

`methodFactory` exists purely as a swappable part to let you change how the 5 built-in log methods work, not as something you can call yourself to add new logging methods. You're right that it doesn't know anything about which level is enabled, but that's intentional, the level enabling/disabling is h

[2015-07-23 22:40] Wirone commented on #80
As someone already said in other issue, `log()` method is different than `debug()` because the latter is rendered with blue color. I want to simply log black messages and add colors if something noteworthy happened.

Maybe I misunderstood purpose of factory. I thought it can be used as factory for creating new, custom methods binded to specified level. For me, if it does not do it, it should be pr

[2015-07-28 14:21] pimterry opened #82 "Move from `log.methodFactory = ...` to `log.setMethodFactory(...)`"
It would be better to set the method factory with a setMethodFactory() method, which sets the method factory and automatically rebuilds all the methods when set, rather than the public property currently exposed. This means a) people don't need to remember to set the level after changing the method factory to apply their changes, and b) the API is clearer, and there's no suggestion that people sho

[2015-07-28 19:03] pimterry commented on #82
I've now put together a potential branch with a first run at this, which people are welcome to take a look at: https://github.com/pimterry/loglevel/compare/new-plugin-API. This would be the start of loglevel v2, breaking the plugin API, but solving all the problems here and helping to tidy up a couple of leftover notes from #81.

Usage looks like:

[code]

The logMethod argument is the underlying

[2015-08-10 12:20] pimterry commented on #82
Any thoughts @wirone, @marcelboettcher, @Mr0grog?

Would this work with what you're looking for in a plugin setup? Can anybody see any obvious problems with this?

If you do want to skim through the implementation, I'd recommend looking mostly at:

* `wrapLogMethods()` - https://github.com/pimterry/loglevel/compare/new-plugin-API#diff-73c0491ea03683a5afd51d5382ee5afeR181 - the external API
* `buil

[2015-08-13 14:03] marcelboettcher commented on #82
Thanks @pimterry! For my case this would work to avoid `.setLevel()` for plugin init, but I would suggest the approach [Winston](https://github.com/winstonjs/winston) uses. So you could add multiple plugins which are run in sequence. The default plugin logs to the console, which is basically what loglevel does is specialized on. Then anyone could add a plugin e.g. to send the error data to a serve

[2015-08-19 10:00] pimterry commented on #82
Oooh, thanks. You mean the add/remove transports API they provide, presumably?

It's a different model, which I find interesting. They're letting you provide a set of totally independent transports, each of which is responsible for a different way of logging, rather than wrapping the underlying log methods with a sequence of decorators. Parellel vs serial, sort-of.

Implementing that here would wo

[2015-08-19 10:25] marcelboettcher commented on #82
Ah, ok, didn't had those use cases in mind. For my "send to server" use case your implementation will work just fine if you add the actual log level as parameter as well.

Thanks!

[2015-08-19 12:05] davetayls commented on #79
hey @pimterry what's the latest with getting this on npm?

[2015-08-20 22:59] idolize commented on #26
@pimterry Would love to see this. Are you interested in a PR?

[2015-08-28 16:13] pimterry commented on #79
Hi @davetayls, done now! There's a 1.4.0 release out including all the recent changes.

[2015-08-28 16:13] #79 closed

[2015-08-28 16:30] pimterry commented on #26
Hi, sorry for the delay, yes sure! I haven't got around to this at all and I'd definitely welcome helping hands.

There are a few constraints for loglevel changes generally though it's worth being aware of up front:

* They need to not make the library too much more complicated or that much larger.

* They need to provide sensible and consistent behaviour with the best functionality available, and

[2015-09-04 21:32] davetayls commented on #79
Thanks!

[2015-10-08 11:11] fholzer opened #84 "trace broken in Firefox"
Tested with Firefox 41.0.1, loglevel 1.4.0.
To reproduce, go to https://jsfiddle.net/zLsjmg2d/2/ in Firefox and open console.
Expected result: console should show trace log messages.
Actual result: console shows "console.trace():"

[2015-10-08 11:42] pimterry commented on #84
Ah, interesting, yes. That's poor behaviour on Firefox's part; they're not following the (admittedly draft) [spec](https://github.com/DeveloperToolsWG/console-object/blob/master/api.md#consoletraceobject--object-), which says it should behave as console.log, but with a stack trace too.

Here instead it just prints a stack trace, but ignores any provided messages. I'm not really sure about what to

[2015-11-16 12:53] xDaizu commented on #84
Just hit my head several times against the keyboard because of this issue  (I thought I was using it wrong) before I thought of checking this "issues" section.

My suggestion is beating Firefox people up with a stick. Also HUGE **bold** informative disclaimer on the documentation section of this project.

[2015-11-24 06:07] linnik opened #85 "Incompatible with Jest"
Hi.
I'm trying to test my project with [Jest](https://facebook.github.io/jest/), and encountered a problem to get it working with `loglevel`. If i try to test any .js file with `require('loglevel')` in it, i get `SyntaxError: Unexpected identifier`.
Can you look into it?

[code]
[code]
[code]

[2015-11-24 12:55] pimterry commented on #85
To start with, you have a syntax error in your test. You're missing the closing bracket for the it() (or the describe, arguably). It should be:

[code]

Even with that fixed though, you're totally right, Jest complains about a syntax error. I've done some digging and I'm pretty sure this is a Jest bug. Specifically, you can reproduce it by trying to require a file that contains only:

[code]

I th

[2015-12-15 11:35] nopmop opened #86 "Multiple arguments & custom loggers (Plugins)"
Hello!

I have tried writing a plugin as the Documentation says:
[code]
however, *message* does not carry all the arguments passed to *log.debug()*, but only the 1st one.

For example using the *console.debug()* one would do this...
[code]
...and all the arguments would be displayed nicely (including complex objects)

I've tried unpacking *arguments* and recursively call *this[methodName]*  on eac

[2015-12-15 18:02] pimterry commented on #86
Yes, the console methods you end up with will have the signature of the function that gets returned here (i.e. in this case they'll only accept one argument). You can easily make them accept more, but how exactly you do that depends on what you're trying to do.

If for example you just want to add an extra string separately at the start, then something like the below should work:

[code]

Does tha

[2015-12-16 10:10] nopmop commented on #86
@pimterry Hello Perry, I was actually just trying to get all the arguments printed on the console - because as I said in the example *message* was carrying only the first argument. I ended up making it too in the same way you did, and I realized that *loglevel* has a little shortcoming (or a feature perhaps) which is essential to me: logging objects in a non-stringify'ed form on console (ex: colla

[2015-12-16 10:17] pimterry commented on #86
Loglevel definitely isn't stringifying messages in this case, that must be something else going on. If you look at the above code at runtime you'll see that rawMethod is actually just the bound built-in console method (for enabled levels). Once you've added a plugin then within that plugin there should be nothing else going on between your code and the built-in console APIs.

Interesting anyway, I

[2015-12-16 10:17] #86 closed

[2015-12-20 09:07] kawing-chiu opened #87 "Provide new api method for clearing all saved level?"
Sometimes I want to take full control of all levels of all loggers. For example when production environment is detected. This cannot easily be done using the current apis. For a certain logger it could be done by calling setLevel() on that logger directly (not really clearing, but close). However for ALL loggers altogether, I can't find a way to do that.

[2016-01-09 00:55] mfursov opened #88 "Support lazy message evaluation"
A simple example could be:
[code]

I belive this feature will make loglevel very efficient.

[2016-01-11 10:39] pimterry commented on #88
This is an interesting idea, but isn't something the core of loglevel is ever going to do. Any logic that needs to run at log time necessitates clobbering all stacktraces. Reliably giving you simple working logic without breaking anything (including traces from your log messages) is one of the core features of the library.

Extensions like this are the perfect case for plugins though. Take a look

[2016-01-11 10:39] #88 closed

[2016-01-16 01:10] mattlo commented on #85
@linnik @pimterry Disable mocking for it so it won't swap it out with a jest-interpreted version. I got `loglevel` working with React tests after configuring the following in **package.json**:

[code]

I hope this helps!

[2016-03-16 12:30] pimterry commented on #85
I have looked into this a bit, but I'm not too au fait with Jest and lots of other people who are more comfortable with it haven't solved this for their libraries either, so I'm going to close this, and not delve any deeper.

I've given the Jest team a report for the minimal repro to play with (https://github.com/facebook/jest/issues/804); if they fix that then great, loglevel will probably start

[2016-03-16 12:30] #85 closed

[2016-03-24 15:43] andreasi opened #89 "Timestamp on logging"
Hi everyone.
We use the library for 4 months now and we are very satisfied with it. We came up with some logs on the console and we needed a timestamp for every log. The issue is that on chrome devtools you may enable the timestamp but when you save the logs as a .log file the timestamp is not saved. Is there a way that we can globally enable a timestamp on the library to prefix it when the librar

[2016-03-24 15:55] pimterry commented on #89
Yes, you can do that, but it's not built into the library itself. The message-prefix plugin should do what you're looking for though: https://github.com/NatLibFi/loglevel-message-prefix.

This will have the side effect of messing up the stack traces in your developer console (they'll appear to come from inside that plugin, not directly from where you call log.error()). It's sadly not possible to b

[2016-03-24 15:55] #89 closed

[2016-03-24 16:37] andreasi commented on #89
Unfortunately the use of the plugin produces some errors on the command line after the npm start script of our project.
This is the error
ERROR in ./~/json-loader!./~/loglevel-message-prefix/resources/parameters-schema.json
Module build failed: SyntaxError: Unexpected token m
    at Object.parse (native)
    at Object.module.exports (C:\Users\andreasi\My Projects\Logan\node_modules\json-loader\ind

[2016-03-31 04:06] ericntd opened #90 "Logger does not output its name?"
I was expecting something like:
[code]
when I did:
[code]
Basically, my application is supposed to work in both browser and Node JS environment.
While your library is perfect in browser environment, I need the file name or the logger name to be output for the sake of the Node JS environment too, can this be done?

[2016-03-31 08:37] pimterry commented on #90
Yep, that's by design. Sadly, as soon as you start doing anything dynamic (like changing log output) at the moment when the log method is called, you need to add a wrapper layer around the built-in console methods, and if you do that you don't get perfect stack traces any more. Every message appears to get from your logging wrapper instead, not directly from the log.error() line in your code.

You

[2016-03-31 08:37] #90 closed

[2016-04-01 03:25] ericntd commented on #90
yeah, the perfect stacktrace is something I'm always after, sad that we can't have everything, perfect stacktrace and filename/ logger name.

I actually tried to write a wrapper around `console.log` myself so I understand what you're saying :smile:

[2016-04-25 18:21] natlibfi-arlehiko opened #91 "Plugin example - Variadic arguments"
Hi,

The plugin example in README doesn't support variadic arguments, so writing plugins based on the example won't work as expected (In case the user wants to do `log.error('foo', 'bar')` instead of `log.error('foobar')`).

Maybe something like this would be better:
[code]

Sure, it looks a lot more complicated. Maybe including both of the examples would be best.

[2016-05-10 10:11] #91 closed

[2016-05-26 08:05] myme opened #93 "Extend the API with something like `loglevel.getLoggers()`"
Since `loglevel` supports sub-loggers through the `loglevel.getLogger()` function, would it be acceptable to have a function for listing existing loggers? I see that the object containing the logger references is within the module's closure and not accessible from the outside (which is good imho).

However, I'm wondering if it would be nice to have a function that reads the keys of this object and

[2016-05-28 16:04] pimterry commented on #93
As discussed in #94: this is implementable as a standalone plugin and (until there are common use cases where it would be particularly useful) that's where it should live for now.

[2016-05-28 16:04] #93 closed

[2016-06-04 02:19] IAmJulianAcosta opened #95 "define.amd?"
Hi, I'm using loglevel with emberjs, and It doesn't work, because of [this](https://github.com/pimterry/loglevel/blob/master/lib/loglevel.js#L9): `if (typeof define === 'function' && define.amd) {`

I'm wondering why you are evaluating `define.amd`, is it really necessary? Without this validation, it works in ember. Thanks!

[2016-06-04 14:18] pimterry commented on #95
That is the [canonical way](https://github.com/amdjs/amdjs-api/wiki/AMD#defineamd-property-) of testing for an AMD compatible module loader. If Ember's not exposing that, it's because it's not AMD-compatible (or at least, it's not trying to be), so loglevel shouldn't try and define itself as an AMD module. This might not work for your setup as-is, but it's definitely correct behaviour.

I don't kn

[2016-06-21 22:34] ramumb commented on #64
I'd like to +1 adding a "log" method.  I just ran into this same issue while integrating loglevel.  It's such a common method that it needs to be in the lib; I'd dare say that it's more often used the "info".

[2016-08-04 12:45] PonderingGrower opened #96 "Log messages do not show source(file:line)"
Hi,

I'm really liking the simplicity of your library but it looks to me that when I use it the Firefox console(haven't tested other browsers) does not show the source of the message - meaning file and line from which it came. It shows up only as `(unknown)`.

Screenshot:
![loglevel_unknown](https://cloud.githubusercontent.com/assets/2212681/17402175/aebbcb8e-5a49-11e6-9187-20daf0ba43f0.png)

Is t

[2016-08-06 01:03] pimterry commented on #96
Can you include the code you're using to do this? And the version number of your firefox?

I'm not sure why this is happening. I've done some quick tests and it looks like it's a recent change in Firefox. In version 44, all log messages come through fine with lines, but in version 48 they don't.

It seems like maybe firefox has just disabled tracing entirely. `console.warn("hi")` for me in Firefox

[2016-08-08 18:03] PonderingGrower commented on #96
Sorry for the late reply but I was out.

I'll check if this is Firefox specific and if bound to a certain version tomorrow at work. Cheers!

[2016-08-09 09:00] PonderingGrower commented on #96
So I just tested this on my linux desktop at work which runs `48.0` and I get `(unknown)`. Also checked with a friend that was running `47.0` on a Mac and it did the same thing.

But when I test it on my laptop which run `45.3.0` I see source of the message just fine.

![loglevel_ff_45 3](https://cloud.githubusercontent.com/assets/2212681/17510641/bb8cd0c0-5e17-11e6-962e-5b3cda70d03d.png)

Seems l

[2016-09-07 09:08] KingWu opened #97 "Not support for typescript"
typings install --global --save dt~logLevel

typings ERR! message Unable to find "logLevel" ("dt") in the registry.

[2016-09-07 09:42] pimterry commented on #97
Should work, I think that's just a typo with the capital 2nd L in `logLevel` (should be `loglevel`). Try:

[code]

[2016-09-07 10:13] pimterry commented on #97
I'm going to go ahead and close this, since I'm pretty sure that solves it. Let me know if you still have any trouble.

[2016-09-07 10:13] #97 closed

[2016-10-26 13:35] #95 closed

[2016-11-17 13:45] ftaiolivista commented on #96
same problem on Google Chrome 54.0.2840.100 64BIT on ubuntu

[2016-11-19 03:03] tauren opened #98 "Example plugin loses filename and line numbers"
Without a plugin, loglevel shows the correct file and line number. Bravo!

However, when I use the example plugin in the readme, the console always indicates that the message is from the `rawMethod('Newsflash: ' + message)` line in the plugin. This makes it much more difficult to trace the actual log location which decreases the utility of using loglevel.

It appears that internally, you are bindi

[2016-11-21 11:12] pimterry commented on #98
Indeed it does. Sorry, but that's an unavoidable problem, which is why the functionality that these plugins add isn't baked in.

If you want to do *anything* dynamically at the point where a log function is called, then you have to wrap the function, and that means you mess up your stacktrace. It's just how JavaScript works I'm afraid, and you can't get out of it afaik (although do let me know if

[2016-11-21 11:12] #98 closed

[2016-11-21 18:22] tauren commented on #98
Thanks for the clarification.

I have been toying with building a library that will help output CSS styled logs. For instance:

[code]

I'm not sure what the library API will look like yet, as it will be determined by what is feasible, but perhaps it could be something like this:

[code]

However, to make this happen, I need logic that determines if the first argument is a primitive or is an insta

[2016-11-21 18:36] tauren commented on #98
Actually, what if the API was something like this instead:

[code]

I should be able to dynamically generate lots of methods in advance that are bound to the `console` methods. And I could bind a second argument containing CSS to each of these. But I'd still need to figure out how to add the `%c` to the first argument.

Originally I was thinking of doing something more like the `colors` module doe

[2016-11-23 12:26] pimterry commented on #98
That's closer, but you still have to transform the message string inside the logging method, which is the key problem, and you can't add suffixed arguments with `bind` (afaik), you can only prefix them. Annoying, I know.

To make this work, I think you have to do all your transformation before the call to the underlying browser's logging method. If your transformation code is ever the thing that c

[2016-11-23 20:43] tauren commented on #98
@pimterry Great feedback! I've learned a lot about this since posting, and this is essentially the same conclusion I came to. However, since I am using Babel, your suggestion of using ES6 `spread` is interesting. But I'm certainly not thrilled with any of the APIs you or I have considered.

Thanks again for your thoughts!

[2016-11-24 14:23] pimterry commented on #98
Yeah, it's frustrating, but there's no other way to avoid appearing in the stack when the log function gets called I think. Good luck!

[2016-11-26 05:50] tauren commented on #98
I just created a babel plugin that should make it possible to do most of the things I would like. It is very *alpha* quality at the moment, but thought you might be interested in it:
https://github.com/tauren/babel-plugin-console-log

[2016-12-01 12:41] oka-garaio opened #99 "Correct usage with webpack, how?"
Hi,

I'd like to use loglevel in a typescript/webpack project. I've installed it via npm install loglevel.

then I require it with `import log from "loglevel"` and also tried to use `window.log = require("loglevel")` but none of this method work. `log` is always `undefined`

Do you have any tips how I got that working?

[2016-12-01 15:21] oka-garaio commented on #99
It works when I use it like this `import * as log from "loglevel";`.

[2016-12-01 16:11] pimterry commented on #99
Interesting - I don't know webpack that well, so I can't really help you out here, but sounds like you've found your solution anyway :-). I'll close this for now, feel free to comment if there's anything else that needs looking at.

[2016-12-01 16:11] #99 closed

[2016-12-07 11:05] anwfr commented on #97
hi,
You can find usage example of loglevel with typescript + webpack/typings2 here:
https://github.com/anwfr/loglevel-ts

[2016-12-07 11:08] anwfr commented on #99
hi,
You can find usage example of loglevel with typescript + webpack/typings2 here:
https://github.com/anwfr/loglevel-ts

[2016-12-23 05:07] OmgImAlexis opened #100 "Add ES6/browserify/vuejs docs to README?"
Since more and more people are starting to use Vuejs it may be an idea to add something to the docs to let them know how to get this library working.

[code]

[2016-12-24 14:21] pimterry commented on #100
I don't know vue. I'm surprised by the above though - why do you need to do that, why don't you just import log and then use it like any other library?

[2016-12-24 16:57] OmgImAlexis commented on #100
You need to import all the functions otherwise none of the log.* functions works.
For example `log.info()` only works after importing info from `loglevel`.

You also need window.log to use it within all of your .vue files otherwise it'll only work in the single file/component that it's imported into. If the user wanted they could just import it and bind `log.noConlict()` to the Vue method field bu

[2016-12-31 04:40] mibanez commented on #100
Still not working for me (i'm using `vue-cli`). Seems to be that `loglevel` has not access to console and every log method end up being the default method `noop` (function() {})

[2016-12-31 05:07] OmgImAlexis commented on #100
@mibanez did you use `import * as log from 'loglevel';`? If you just import loglevel itself then nothing it set, that's why you end up with noop.

[2017-01-08 22:23] tauren commented on #64
I'll throw my two cents into the mix:

## Problems

### `console.trace` sucks for trace level logging

I avoid using `console.trace` unless I want to actually see a stack trace. This is because Chrome shows the stack trace expanded, which clutters up the console. I don't feel it is a good method to use for the **trace** level of a logging tool.

However, by not using `log.trace` with `loglevel`, I

[2017-01-09 00:20] tauren opened #101 "Grunt tasks broken"
I'm running into all sorts of problems getting dist to build. Running `./node_modules/.bin/grunt dist` fails. Once I fix an issue, another one crops up.

1. jshint would fail, so I updated to the latest `grunt-contrib-jshint`
2. jshint ran, but several errors in `lib/loglevel.js`, so I fixed them
3. Now phantomjs won't run in task `jasmine:requirejs`

I tried updating all dependencies to the lates

[2017-01-25 17:52] olegstepura commented on #64
Very good point @tauren :+1:
I've just discovered loglevel and tried to use it. I have a lot of server-side coding experience in Scala and PHP together with client-side scripting and I totally agree with you. I cannot accept blue text color for debug messages in console. +1 for PR

One extra thing I did not find in documentation is if I can reset (persisted) log level after debugging session finis

[2017-03-08 17:24] victornpb commented on #64
+1 to points made in @tauren reply

[2017-03-09 05:29] KalpanaPagariya opened #102 "Is there any releases planned for this library? Is this forum active?"

[2017-03-10 16:21] pimterry commented on #102
I do keep an eye on everything here, although not quite a thoroughly as I'd like (I've been meaning to sort out https://github.com/pimterry/loglevel/issues/101 for example, but it's fiddly and never _urgent_ - PRs welcome!).

I'm generally interested in improving and extending loglevel, but the number 1 goal for this library was to be a very simple and very reliable minimal logging tool, and it al

[2017-03-10 16:21] #102 closed

[2017-03-13 14:33] julestruong commented on #100
@OmgImAlexis not working either for me, did you actually test your code ? :/

[2017-03-13 16:01] OmgImAlexis commented on #100
Yes and I use it for multiple projects.

[2017-03-20 15:17] julestruong commented on #100
@OmgImAlexis worked , sorry

[2017-03-27 17:07] xricj opened #103 "output of log data"
Hello.
I have a question regarding the output of the logging data.
Using loglevel library I can see the logging data to the browser console.  Are those data saved in any file?
 I would like to have these logging data saved in a text file for example, instead of just print them in the browser console.

PS : I am completely new in javascript and html scripts so my question maybe is silly..
Thanks

[2017-03-27 17:15] pimterry commented on #103
Hi @xricj!

No, this data isn't saved to a file. It's generally difficult to do that inside webpages, as they're not allowed to write files to your computer.

If you're just looking to make the messages more accessible between page loads, there's a 'preserve log' button in Chrome that will ensure the log in the browser isn't cleared for you, until you close the tab.

If you're looking for long-ter

[2017-04-02 10:22] pimterry commented on #100
Glad to hear that all worked out. I'm not totally sure I'm following the above as a non-vue user. Are there some basic instructions for this vue setup that should be in the readme? If any of you want to put together a PR to add a short snippet for this (under [`Setting it up`](https://github.com/pimterry/loglevel#setting-it-up)), I'd be happy to include it.

[2017-04-02 11:33] OmgImAlexis commented on #100
@pimterry just including something like this would work; and it's for ES6 not vue specifically.

In ES6 make sure to import the whole package.
The last line only applies while using ES6 in the browser as allows the use of log anywhere in your app.
[code]

[2017-04-04 17:45] #100 closed

[2017-05-07 15:38] #28 closed

[2017-05-07 15:39] #18 closed

[2017-05-07 15:39] #34 closed

[2017-05-07 15:39] #31 closed

[2017-05-07 15:39] #8 closed

[2017-05-07 15:40] #5 closed

[2017-05-07 15:40] #103 closed

[2017-05-07 15:41] pimterry commented on #101
Sorry for the delay! Totally agree this should work. Now fixed, and I've added npm aliases for everything too, using a local grunt. For me clone -> install -> `npm run dist` now all works reliably. Let me know if you (or anybody else!) has any other trouble with this.

[2017-05-07 15:41] #101 closed

[2017-07-18 16:52] asasine opened #108 "Adding a critical log level"
We use loglevel for a website at school and are big fans of its plugins, especially sending to a remote server. We are attempting to configure our logger to raise incident emails/texts/notifications whenever very serious problems occur. Since we use error logs often enough, can a critical level be added, one step above error?

[2017-07-18 19:14] pimterry commented on #108
For historical reasons, I'm afraid that's more difficult than it sounds. Internally, levels are stored numerically, with 0 being `trace`, up to 4 being `error`, and 5 being `silent`. If you set a level, every numerically lower level is silenced.

`critical` would have to be the new 5, bumping `silent` to 6, and this is a breaking change, because:
* We return these numbers from `getLevel()`, and pe

[2017-07-18 19:14] #108 closed

[2017-08-01 13:08] shellscape commented on #64
piling on here, noting early comments in this thread it's important to point out that `console.debug` has since been deprecated and is currently treated as a `noop` in the latest versions of modern browsers.

[2017-08-01 14:46] victornpb commented on #64
@shellscape the recommendation on MDN is to use `console.log()` instead of `console.debug()`.

Following the pattern it would become `log.log()`, looks kind of weird.

[2017-08-01 15:58] shellscape commented on #64
@victornpb I've implemented logging wrappers in the past, and we've always defaulted to the "plain" old log, equivalent to `console.log` was `log(...)`. Wouldn't be unreasonable that the function by default logged. Appearances aside, given that this is a browser-first and browser-oriented script, it would make more sense to follow browser convention.

[2017-08-01 16:26] pimterry commented on #64
I'd rather not have a `log.log` method. As in my first posts way above, it's not a common log level in most other libraries, it's not obvious where it fits in the semantic order of levels, and it would be a breaking change anyway, which I'd really like to avoid.

I do totally agree we need to find a solution now that `console.debug` seems to have been quietly killed though. I need to think about i

[2017-08-01 16:34] olegstepura commented on #64
Since browser logging methods do not fit the old good [logging levels](https://www.tutorialspoint.com/log4j/log4j_logging_levels.htm) which every programmer (who programmed more than for the browser) used to, I would suggest to mimic those logging levels with the existing browser methods as close as possible. But there should exist all 6 levels.

+1

[2017-08-01 18:35] tauren commented on #64
This seems like a good solution to me as well. Because `console.trace` has a different behavior than the other log methods, I personally don't use it as "standard" loglevel in my apps. And with `console.debug` being a noop, the log methods available for my apps has shrunk to just `log.info`, `log.warn`, and `log.error`. Making `log.debug` work again by mapping to `console.log` would certainly help

[2017-08-01 19:06] pimterry commented on #64
Optional persistence has actually already been added, since the initial discussion on this issue. See https://github.com/pimterry/loglevel/pull/72. As far as I'm aware loglevel will now never initially set anything in your storage, and `.setLevel` has an optional 2nd argument which stops it persisting the new set level if you change it: `log.setLevel('WARN', false)`. As long as you always call tha

[2017-08-01 21:00] victornpb commented on #64
I aprove the proposal apart from the verbose level. It's quite useful from having something above trace.

[2017-08-03 12:41] reda-alaoui opened #109 "Add IndexedDB as a persistence storage solution"
Hello,

This is a feature request.

I would like to add `LogLevel` to my projet, mainly because of the persistence option. Indeed, I want to enable this persistence in production with a rolling policy (i.e. only keep logs of the last 24 hours).
Since I need this feature always enabled in production, I don't want it to slow down my application.

`LogLevel` currently supports persistence using `Loca

[2017-08-03 13:42] reda-alaoui commented on #109
I misunderstood the `README`.

You seem to use persistence only to store the wanted log level.
Therefore, I guess a `LogLevel` plugin is more adapted.

[2017-08-03 13:42] #109 closed

[2017-08-05 21:14] lhrolim opened #110 "Provide a way to modify logging levels dinamically on browsers"
On a modular nodejs project, in which each of the modules depend on loglevel, there´ll be several instances available.

It would be interesting if, from a single global configuration we could modify the behaviour of all of these loggers, dinamically, on a browser console.

One idea could be  the adoption of the localstorage so that we could call something such as:

sessionStorage.loglevel = 'debug

[2017-08-05 21:30] lhrolim commented on #110
Well, for the record, after digging, I realize I could accomplish something similar by doing:

localStorage.loglevel = 'DEBUG'

and refreshing the browser.

Not exactly as powerful, since I was thinking of ways of dinamically changing the levels, using a screen, for instance, but will help me a bit already.

[2017-08-07 00:52] asasine opened #111 "Debug level is not showing in console"
As the title states, calls to `log.debug` do not print results to the console. The following script _index.js_ was run with `node index.js`:

[code]

and the following was displayed on the console:

[code]

As the output shows, the `DEBUG` level is skipped.

I am using loglevel v1.4.1 with Node.js 8.2.1 and npm 5.3.0 on macOS 10.12.6.

[2017-08-08 17:22] pimterry commented on #111
Yes, this is currently being discussed over here: https://github.com/pimterry/loglevel/issues/64#issuecomment-319423251. V8 seems to have quietly made console.debug do nothing, which breaks this. The current plan is to just map `log.debug` to `console.log` in future - would that work for you?

[2017-08-08 17:27] asasine commented on #111
Yes this would work for my needs. In the future of this package, I share the sentiment of @olegstepura that there should exist all 6 logging levels.

[2017-08-08 17:59] pimterry commented on #110
This isn't something loglevel can do directly because to preserve stacktraces correctly when logging, loglevel cannot wrap or add any of its own runtime behaviour to logging methods. As soon as you add any logic triggered by calls to `log.error`, or similar, you will lose the stack traces for those log messages. That means the below is impossible, without breaking stacktraces:

The right solution

[2017-08-08 18:03] pimterry commented on #110
There is actually a different alternative: it looks like there is a spec for storage events (https://html.spec.whatwg.org/multipage/webstorage.html#the-storage-event), which would let loglevel automatically listen for localStorage changes, and then refresh itself. I'm potentially open to PRs adding that, but only if you can do so in a way that's reliable for much older browsers that don't support

[2017-08-08 18:17] lhrolim commented on #110
Hi Tim,

thanks for the feedback.

Actually, I´m no expert to nodejs development either, just getting started.

I believe the behaviour I saw, of non singletons modules was due to the presence of a local npm module (file:xxx) which creates a symbolic link in windows.

To clarify, my setup was as follows:

I have 2 projects (app and service). App depends on service.
At package.json of app I´m using

[2017-08-08 18:31] pimterry commented on #110
Ah, ok. Yes, for local development npm link and friends can cause interesting problems with duplicated modules like this. For that case, I think the way to do this totally reliably would be to make your service take a `log` parameter in some kind of initial setup constructor, and not depend on loglevel directly at all. That way the app provides and manages the log instance, and can guarantee that

[2017-08-08 18:31] #110 closed

[2017-08-11 13:52] kutuluk commented on #111
![debug](https://user-images.githubusercontent.com/5966195/29215897-dfbc4b8e-7ebd-11e7-881f-5caaf5abab41.jpg)

[2017-09-03 20:10] nicocrm commented on #111
+1 for mapping to console.log.... it's annoying not having a debug log level.  Any plan for updating that soon?

[2017-09-11 22:25] pimterry commented on #64
Both the proposed changes have now been made, and released in 1.5.0:

* `log.debug` now uses `console.log` under the hood, so will work in Chrome versions that make `console.debug` a noop.
* `log.log` now exists, as a simple alias to `log.debug`

[2017-09-11 22:25] #64 closed

[2017-09-11 22:26] pimterry commented on #111
This should now be fixed, released in 1.5.0.

`log.debug` now uses `console.log` under the hood, so will work in Chrome versions that make `console.debug` a noop. Thanks for the report, let me know if you have any further trouble!

[2017-09-11 22:26] #111 closed

[2017-09-11 22:30] #68 closed

[2017-09-13 09:47] Trikolon commented on #111
I don't understand why this change is required for Chrome. The latest stable version of Chrome shows `console.debug` statements if you enable all log levels in the console as shown by @kutuluk . Am I missing something here?

[2017-09-13 09:55] pimterry commented on #111
@Trikolon not having these messages appear by default is somewhat annoying and confusing for loglevel users, and the [MDN docs](https://developer.mozilla.org/en-US/docs/Web/API/Console) say:

In addition, it's no longer listed in the Node docs for `console` at all: https://nodejs.org/api/console.html

You're right that you can change the log levels as an effective a workaround. At the moment thoug

[2017-09-13 10:55] Trikolon commented on #111
That makes sense. Thanks for the explanation!

[2017-10-18 23:01] aguynamedben opened #113 "How can I display loglevel on each message?"
Is there a way to display the loglevel for each message so when messages are logged in my console it's easy to tell which level it's at?

Code:
[code]

Console Output:
[code]

Desired Console Output:
[code]

[2017-10-18 23:02] asasine commented on #113
A common way is to use plugins. The one I use is linked in the readme https://github.com/kutuluk/loglevel-plugin-prefix

[2017-10-19 00:28] aguynamedben commented on #113
Oh, cool sorry, missed that... closing. Thanks for the help, I love this library and have used it on multiple projects over the past few years.

[2017-10-19 00:28] #113 closed

[2017-11-28 13:52] gzoreslav opened #115 "New plugin"
Hi,

I've just created the new plugin https://www.npmjs.com/package/loglevel-plugin-server for sending data to the server. It is similar to existing ones, but with some improvements. Could you please add link to the README?

Thank you,
Zoreslav

[2017-11-30 12:25] pimterry commented on #115
It'd be easier if you just open a PR yourself for the change you'd like, feel free. You'll be able to explain it much more clearly than I will!

[2017-11-30 12:25] #115 closed

[2017-11-30 13:03] devvtms opened #116 "Dont log anything"
Hy,
probably i misunderstand something... , i cant make logs with loglevel...

[code]

[code]
nothing logged out, no errors...

[2017-11-30 13:06] pimterry commented on #116
The default loglevel is `warn`, so info and debug messages are hidden. Try `log.setLevel('warn')`, or `log.warn('a message')`. Does that work for you?

[2017-11-30 13:09] pimterry commented on #116
Sorry, that should have been `log.setLevel('debug')`

[2017-11-30 13:24] devvtms commented on #116
thats intersting. i changed as you suggest , its working:
[code]

still working when remove  `log.setLevel('debug')`, restart environment...

thank you for quick response :)

[2017-11-30 13:31] pimterry commented on #116
Yes, that will still be working after you remove that line because by default loglevel persists your set level in your browser local storage (or cookies, if not available). If you clear your cookies or try incognito you'll go back to `warn` level, and these messages will disappear again.

I'd recommend setting a sensible default level in your code (try `log.setDefaultLevel('something')`) for whate

[2017-11-30 13:31] #116 closed

[2017-12-12 01:39] shellscape commented on #82
@pimterry this one is pretty ancient, but I'm running into an issue with moving webpack-dev-middleware to this module and using the prefix plugin. it's all good until I get into tests which instantiate multiple instances of the main export, which happen to have a log property. I believe this change would remove the requirement/limitation of the prefix to plugin to only operate on the root loglevel

[2017-12-12 09:54] pimterry commented on #82
@shellscape There's no current progress on this, no, but I'm broadly open to reviving it. It stopped simply because though it is a small annoyance, it doesn't seem like anybody was hugely passionate about it being fixed, and I think there's quite a lot of value in stability & reliability here and avoiding breaking changes where we can.

If you've got a real solid use that needs these changes thoug

[2017-12-14 04:08] shellscape commented on #82
@pimterry you'd have to take a look at the master branch of webpack-dev-middleware, lib/log.js and the same location in webpack-dev-server. Both are using loglevel and both want to apply a plugin to loglevel (the prefix plugin). Since webpack-dev-server uses webpack-dev-middleware, and node caches modules, we end up with the same base instance being shared between the two. And well, the plugin doe

[2017-12-14 10:19] pimterry opened #117 "Make it easy to install plugins per-logger, not just globally"
cc @shellscape - pulling out the conversation from https://github.com/pimterry/loglevel/issues/82#issuecomment-351603205 as separate issue.

[2017-12-14 10:20] pimterry commented on #82
This is a related but slightly separate topic to this issue, so I've opened a separate issue here: https://github.com/pimterry/loglevel/issues/117

[2017-12-14 10:21] pimterry commented on #117
To repeat the current problem from the previous thread:

[2017-12-14 10:32] pimterry commented on #117
This totally makes sense, and that is a use case I'd like to support properly. I'll take a proper look at it this weekend, but I definitely think there's a route through there.

As a first impression, I think the right approach is to make it easy to scope plugins to a specific logger instance. We've already got `getLogger` to build the separate logger instances you're talking about (they're initia

[2017-12-14 11:01] Wirone commented on #82
@pimterry I'm sorry I did not respond to your work as I should, since initial issue was reported by me... But I did not have time to test it and later I totally forgot about this. Now I'm totally outdated on this because I didn't use loglevel for a while. I'll try to look at it, but can't promise that I'll figure out something helpful ;-)

[2017-12-14 13:28] pimterry commented on #82
No worries @wirone, it was years ago now :smiley:. If you do have any thoughts those would be interesting of course, but no pressure whatsoever, there's no need to urgently try to look into this now.

[2017-12-14 15:32] shellscape commented on #82
@pimterry that's probably another good solution to the problem we're facing, but I think that independent instances would still prevent scenarios such as those, and probably additional situations that we haven't yet encountered or considered.

[2017-12-14 15:36] shellscape commented on #117
The code in the comment preceding this one is what we had in mind, yes, thank you. In looking at the prefix plugin, it appears to be proxying the method factory, which doesn't seem to be doable on anything but the root logger.

[2017-12-14 16:39] shellscape commented on #117
@pimterry yeah in taking another look at the code, `defaultMethodFactory` is outside of the `Logger` class and a static export. It'd need to be moved within the instance for the prefix plugin to be able to operate on it successfully.

[2017-12-15 07:22] kutuluk commented on #117
@pimterry
I made this lock because the child logger can not override the plugin in the parent logger when assigning the plugin.

This leads to the fact that if the plugin is assigned to both the root logger and the child logger, then the plugin is executed twice.

Therefore, the plugin can be applied either only to the root logger, or only to the child loggers. I chose the root logger.

[2017-12-15 09:10] kutuluk commented on #82
In my opinion plugin API 2.0 should look like this:

[code]

[code]
Output:
[code]

[2017-12-15 13:22] pimterry commented on #117
@shellscape I've done some investigation. That explanation above isn't correct - `defaultMethodFactory` isn't an export at all, static or otherwise, and isn't used in the plugin code either. I've added a test that covers this exact case, and separate child loggers already independently handle separate plugins just fine, see: https://github.com/pimterry/loglevel/commit/f9bf1e3f2eeca0418613af821faa7

[2017-12-18 07:04] kutuluk commented on #117
In the current implementation, loglevel, originalFactory and pluginFactory are static because I allow the plugin to be applied exclusively to the root logger. I can easily rewrite the code so that these values ​​are stored in the apply scope and the plugin can be applied to any number of child loggers. But then I will be forced to prohibit the use of a plugin with a root logger.

The key problem i

[2017-12-28 16:16] pimterry commented on #117
Sorry, I've been off for Christmas - I'm now back looking at this!

There is indeed some tricky plugin UX there. It's not super clear to me how to have both namespaced plugins and default 'global' plugin configuration, without loglevel providing a much more complex api to manage the currently applied plugins, which is both more complex and less flexible than the current 'just provide a function' a

[2017-12-28 17:48] shellscape commented on #117
I was able to solve this in my fork without pain. In my implementation, `getLogger` can simply be proxied and a new "plugin" ("plugins" in my implementation are nothing more than a `Factory`) applied to each logger created. But that relies upon each logger being a wholly unique instance.

[2017-12-28 19:44] pimterry commented on #117
Ah, interesting. Yeah, that already works here - you should be able to proxy `getLogger` right now, and control how child loggers get built & how the method factory inheritance works in any way you like.

The problem, as you've discovered, is that that only works if all your loggers are totally independent. That's a bit limiting, and changing it would certainly be a breaking change. Right now, usi

[2017-12-28 20:03] shellscape commented on #117
We haven't found it remotely limiting. In fact, we've found the exact opposite. The root logger is still present in our implementation - it's simply an instance, like any "child" logger (we don't call them that), extended with sugar for ease-of-use. Insisting on a "master logger to rule them all" and implementing a master-child relationship is actually limiting, and I believe this thread/topic exp

[2017-12-31 17:26] pimterry commented on #117
I'm talking about the limitation you described above: 'that relies upon each logger being a wholly unique instance'. I'm not necessarily against going in that direction, especially if this necessitates a breaking change regardless, but it is a new constraint.

Ok, but to be clear: I am quite open to implementing that same paradigm.

There are short-term workarounds, and other options to discuss to

[2018-01-03 12:37] kutuluk commented on #117
https://github.com/kutuluk/loglevel-plugin-prefix/commit/c7c974998eb2929c0e410e7bbbaeec3c30d3e1a6

Solved =)

[2018-01-10 12:42] lekkas opened #118 "Improve first README code snippet example"
The first code example in the README suggests to use

[code]

Given that the default loglevel is `warn` (as mentioned in the README) this snippet will need some additional loglevel setup calls to actually print a message.

I guess this example could be changed to either match the default loglevel (`log.warn`) or include a suggested setup method (`log.setDefaultLevel()` maybe).

Happy to send a REA

[2018-01-10 12:52] #118 closed

[2018-01-10 12:53] pimterry commented on #118
Good point, thanks! Fixed by just moving everything to `log.warn`

[2018-01-10 20:32] pimterry commented on #117
@kutuluk neat, ok. Just so I understand, your solution there is:

* Remove `disable()` entirely.
* Allow applying to child loggers
* Automatically skip duplicate application (by checking logger names)
* Wrap the methods only if it was applied directly to a child, or its been inherited from the root, not applied (i.e. it's running on a named child logger, but has never been applied to that named ch

[2018-01-11 12:40] kutuluk commented on #117
Simplified plugin:

[code]

[2018-01-31 11:58] kutuluk opened #119 "Loglevel 2.0"
Loglevel is good. It's time to make it fresh. More clearly. More modern.

- Remove support for legacy browsers.
- Remove support for persistance levels.
- Remove noConflict()
- Сustomizable levels
- Flat flow of plugins (only one extra line in the stacktrace for any number of plugins)
- `log.getLogger('child')` => `log('child')`
- getter/setter log.level
- maybe something else...

**Implementation

[2018-02-04 18:42] pimterry commented on #119
This is really great.

I've got some specific thoughts below, but generally I'm very keen on this, there's a lot of nice improvements here that we can make to iterate on feedback and improve the UX longterm.

There's a couple of places where I'm not totally sold, but most of this sounds superb. The main thing I'm trying to do is ensure that loglevel continues to work out of the box for as many peo

[2018-02-05 12:35] kutuluk commented on #119
Speaking of version 2.0, I meant completely abandoning obsolete environments. Backwards compatibility could be saved with the help of the loglevel/legasy submodule. This is a common practice.

But I do not insist, because I understand that loglevel is widely used and breaking back compatibility is undesirable. Therefore, I realized my idea in the form of a package https://github.com/kutuluk/log-n-

[2018-02-07 21:41] karfau commented on #119
Awesome work, and ideas I hope this won't grow into YAL (yet another logger).
I'm happy to contribute to any of this, and able to write TS.
One idea about compatibility:
I haven't totally wrapped my head around it, but maybe this is possible:
Have two kind of builds: one for "modern usage" as @kutuluk called it,
but available under `loglevel/modern` (since it is easy for newer methods to only `req

[2018-02-08 07:15] kutuluk commented on #119
Implementing the support of browsers from the Stone Age, you risk yourself stuck in the Stone Age. If this is your choice, then I'm not going to challenge it. But I want to live today and look into tomorrow, instead of hanging in yesterday.

My position is very strong - backward compatibility with browsers no lower than IE 11 (ES5). Ensuring compatibility below is not a library task - it's a task

[2018-02-08 09:32] pimterry commented on #119
Yep, that sounds good to me. As in my comment above, I think IE 11 is a good & low bar nowadays, and I'm fine with only publishing a 'modern' build that supports IE11+. That's still very inclusive (IE10 is now down to 0.1% of browser usage), and users who want support back even further than that can just stick with loglevel 1.x, which will keep working fine for all sorts of super old browsers, or

[2018-02-08 11:47] kutuluk commented on #119
It sounds delicious. My current implementation https://github.com/kutuluk/log-n-roll is fully operational in IE 11. With the help of https://github.com/developit/microbundle three builds are compiled: UMD (without noConflict), CommonJS and ES6.

My opinion about noConflict(): resolving name conflicts is not a library task, it's a programmer's task. The only thing that is needed from the library is

[2018-02-13 12:05] pimterry commented on #119
That all sounds great to me. I've opened a `v2` branch on this repo, can you PR changes into there? That way we can do a series of PRs to reimplement the core, then update the docs etc, and make various other improvements I'd like around the project, and finally merge & release it all together once it's all ready.

I'm still on the fence about `noConflict()`. You're right that developers can work

[2018-02-17 03:08] zmoshansky commented on #119
I'd second that it'd be nice to see persisting levels disabled by default (The current behaviour is confusing as we use `default_level` and if a log level is set, we can't override without explicitly enumerating loggers and calling `setLevel`.

Alternatively, provide a clear method~

[code]

[2018-03-31 09:49] jonaskello commented on #26
Any news on this one?

[2018-04-12 21:02] sellmic commented on #119
These ideas all sound great, from my end I don't think there's any *must* haves in the suggested v2 features. But I'm just evaluating the library at this point, so I'm probably missing a lot of context.

My interest is more on being able to add plugins to the log system in order to have flexibility on sending logs to a server, and it looks like the current version supports that with a few plugins

[2018-08-03 15:31] selfagency opened #122 "Doesn't seem to work with JSPM"
Trying to use loglevel with JSPM (System.JS).

My import statement:
`import * as log from 'loglevel'`

My test:
`log.info('test')`

The result:
![screenshot 2018-08-03 11 16 33](https://user-images.githubusercontent.com/2541728/43650896-f509ceb6-970e-11e8-81be-66752a2f9267.png)

[2018-08-07 13:46] pimterry commented on #122
I don't know anything about JSPM or System.JS I'm afraid. Loglevel is built as a UMD module, so you should use whatever the standard way to import that is in your environment. That code looks reasonable to me in theory though.

You might get some clues on what's going on if you look at the value of `log` itself though, it's not clear what that is from the above.

[2018-08-17 13:59] MichelSimonot commented on #111
@pimterry It's much more annoying to have them logged at the wrong level.

The MDN docs have probably been updated since you quoted them, but `console.debug` is not a noop.

![screen shot 2018-08-17 at 9 56 53 am](https://user-images.githubusercontent.com/1817346/44269945-f8f1d500-a203-11e8-916f-6ab9d52c979a.png)

Please don't try to fix a "problem" that isn't yours by changing expected behaviour.

[2018-09-02 11:06] ttodua opened #123 "No DEMO link in readme"
the readme is missing one of the most important thing - it doesnt contain demo.

for example, the BlackBird.js demo - http://demo.jb51.net/js/Blackbird/index.html

see how well it demonstrates the behavior.

[2018-09-02 11:25] pimterry commented on #123
It's not the most thrilling library for demos, but I can see how a working live implementation you can play with might be useful. I'd happily accept PRs for this.

[2018-09-19 09:59] artemv commented on #85
In my case configuring `unmockedModulePathPatterns` didn't help, probably because jest' automocking is not relevant anymore as it's not enabled by default. What helped is a hack from https://github.com/facebook/jest/issues/687#issuecomment-370080590:
[code]

[2018-10-09 09:23] zanona opened #124 "allow setting logLevel based on env variable"
It would be nice if we could have something like `LOG_LEVEL=1 node log-test.js` where if `LOG_LEVEL` *(or any defined var name)* could have an impact on the log level used rather than having to declare:

[code]

This would be great for CI, in case we wanted to switch log levels without affecting the codebase.

[2018-10-10 09:28] pimterry commented on #124
This is a good idea, I like it. My main concern is that it would be a breaking change, since users might be using that env var for something else, so this would suddenly change how their logging worked. We could somewhat mitigate this with a different variable name (e.g. `LOGLEVEL_LEVEL`), but it's still not truly 100% non-breaking, and most more specific names are a bit inconvenient.

Happy to ta

[2018-10-10 09:54] zanona commented on #124
I am in favour of having `LOG_LEVEL` in the next major release, although I'm afraid that also wouldn't prevent users from making use of that variable for other systems/programs and inheriting side effects. But I believe that's the reason the env var `LOG_LEVEL` exists, so many programs run with the same log level, where the user expects to see logs for only that specific type i.e: warn, info, debu

[2018-10-10 14:20] asasine commented on #124
Is this similar to what this plugin does? https://github.com/vectrlabs/loglevel-debug

As another suggestion, why not make the user of the environment variable opt-in? Users would have to configure the logger to use the environment variable, and could be configured on a module-wide setting (similar to `log.setDefaultLeve(...)`). [Existing] users who have not configured it would not experience brea

[2018-10-15 19:44] ghostec opened #125 "@slack/client monkey patches loglevel"
After I started using @slack/client in a project, my logs are being printed differently.
Running some tests, this shows:

`console.info node_modules/@slack/client/dist/logger.js:26
[INFO] undefined {"message":"received cancel message from redis","hash":"some-random-hash"}`

As it turns out, @slack/client/dist/logger.js seems to be monkey patching functions defined/used by loglevel.

Is there any w

[2018-10-19 23:20] codejamninja commented on #80
It would be nice if this supported custom log methods like winston

[2018-10-19 23:20] codejamninja commented on #80
I want to create `log.silly('some tmp debug log')` to make it more compatible with winston.

[2018-10-20 23:06] kiyanovsky opened #126 "Return log.debug → console.debug mapping"
Hi,

In task #111, you decided to map log.debug to console.log. In the latest Chrome version,
1. there is console.debug()
2. they behave differently, namely:
- console.log and console.info shows messages in "info" section
- console.debug shows messages in "verbose" section

Now, when you map debug to log, both debug and info levels are shown in info. It'd be helpful to see them in different sectio

[2018-10-25 15:48] pimterry commented on #126
@kiyanovsky I don't think this is correct. I'm using Chrome 70, which I think is the latest, and with 'Default levels' selected in the console, `console.debug('test')` prints nothing.

I agree the current behaviour isn't perfect but I don't have a better alternative. The current implementation ensures that the visibility of `debug` messages is configurable with loglevel, even if not they're not as

[2018-10-25 15:48] #126 closed

[2018-10-25 15:59] pimterry commented on #124
Yes, very similar - that plugin looks like a great solution to this.

Other than that, adding opt-in support in the short term isn't super useful imo. We could add a method to enable it, but it's super easy to opt-in by writing it from scratch anyway. The simplest fix is just:

[code]

That supports error/warn/info/etc values, or you could change it to `log.setLevel(parseInt(process.env.LOG_LEVEL,

[2018-10-25 16:50] kiyanovsky commented on #126
Hi Tim,

I use Chrome 70 ([screenshot](https://www.screencast.com/t/el5fobty)). And console.debug gives you the debug (verbose) message: [screenshot](https://www.screencast.com/t/DdbOedPkGod). Maybe you have debug messages turned off in the console, but it doesn't mean the console.debug doesn't work.

Also, console.debug is [documented](https://developers.google.com/web/tools/chrome-devtools/conso

[2018-10-25 16:51] kiyanovsky commented on #126
Is there a workaround so I can tell log level to use console.debug for log.debug?

[2018-10-25 17:08] pimterry commented on #126
Yes, it's existed and been logged for a very long time, that's not the problem. The problem is that the recent default level filters hide verbose logs, so many users get confused. Example:

![screenshot from 2018-10-25 19-01-12](https://user-images.githubusercontent.com/1526883/47517403-5c455680-d888-11e8-9840-3571f0aa0e83.png)

Note that 'Default levels' is selected as the log filter, as it is by

[2018-10-25 20:57] kiyanovsky commented on #126
Thank you, Tim, the workaround works as expected! The only thing, you must be mistaken "method" for "methodName".

[2018-10-25 21:10] pimterry commented on #126
Ah, yes, you're totally right :smile:. Glad to hear that works for you!

[2018-10-30 14:37] anselanza opened #127 "Import as ES6 module seems to break setLevel"
I am using the library in a project that transpiles NodeJS using Babel CLI.

Everything seems to be working normally, and the import statement works just fine, but `.setLevel` seems to be ignored.

[code]

Curiously, in the above example, `log.getLevel()` returns the correct level, as if it has been changed properly, but subsequent calls to `log.debug` output nothing.

Without changing the transpi

[2018-10-30 15:02] pimterry commented on #127
It's hard to know from that description I'm afraid. That definitely sounds odd, but I'm not sure exactly what babel could be doing that would cause that.

Do you have an example available somewhere that I could use to easily reproduce this?

[2018-10-31 11:17] pimterry commented on #127
Sadly that PR isn't correct, that's babel behaving debatably wrongly. `import log ...` is a default import, which should only work if this module exported a default explicitly (`exports.default = ...`), which it doesn't.

To be fair, the behaviour when mapping between ES6 modules & CommonJS isn't strictly defined, but in a full ES6 environment this wouldn't work without an explicit `export default

[2018-10-31 16:35] anselanza commented on #127
Fair enough, and well explained.

[2018-10-31 16:35] #127 closed

[2019-02-20 10:22] KonradHoeffner commented on #26
`console.group` and `console.groupCollapsed` actually work out of the box with loglevel:

[code]

Tested on Firefox Developer Edition 66.0b8 on Gnome on Arch Linux.

[2019-03-01 05:45] #122 closed

[2019-03-13 06:18] AsaYao opened #128 "log is not show in my chrome"
i follow the instructions but why my log is not print in my Chrome
![image](https://user-images.githubusercontent.com/17565106/54257549-a9596900-459a-11e9-971f-58fada3cd51d.png)
![image](https://user-images.githubusercontent.com/17565106/54257588-d4dc5380-459a-11e9-951f-ab82ffaad8e4.png)

[2019-03-14 14:06] pimterry commented on #128
Have you set the log level?

The default level is `warn`, so `log.warn('hello')` should work, but `log.info('hello')` won't appear, unless you call `log.setLevel('info')` (or below) first.

[2019-03-28 06:32] KonradHoeffner opened #129 "Reference change in log.debug?"
We want to encapsulate log.debug with additional functionality, but for the reference seems to change, which breaks our code:

[code]
Is this intended functionality and a wrong assumption to make that the reference stays the same? Or must there be some other issue in our code?

We are using loglevel 1.6.1 in the browser.

[2019-03-28 09:45] pimterry commented on #129
Can you put together a standalone reproduction so I can see this in action? It'd also be useful if you could be more specific about which browser you're using when you see this - a https://www.whatsmybrowser.org/ link would be perfect.

For now, using just the code above I can't seem to reproduce this. Skimming the code, the only time that calling `log.debug` would ever change the definition of `l

[2019-03-28 11:05] KonradHoeffner commented on #129
The browser is Firefox 67, the link is www.whatsmybrowser.org/b/S9N79PS. We do indeed use setLevel, I will investigate whether this solves the problem.

[2019-03-28 11:27] KonradHoeffner commented on #129
Yes, setLevel was indeed the problem, that solved it, thanks!

[2019-03-28 11:27] #129 closed

[2019-03-28 11:29] pimterry commented on #129
Great to hear, glad I could help! :+1:

[2019-04-24 18:08] vidhill opened #130 "React Native support"
I don't exactly see why it shouldn't but this module appears not to work with react native,

Well, `log.warn()` and `log.error()` work, but nothing below that level gets output,
-even if I call `loglevel.setDefaultLevel('trace');` or `loglevel.setLevel('trace');`

`log.debug()` and `log.info()` still equal `noop`

I don't know if it has something to do with the persisting, as react-native had no l

[2019-04-25 16:43] pimterry commented on #130
Hmm, I'm not sure I'm afraid, I've never used React Native.

Do the corresponding `console.info/trace/debug` methods work?

Can you log the value of the methods that don't work? E.g. `console.log(log.info)`. If the levels have been enabled correctly, they should be native functions (e.g. they'll print as `ƒ log() { [native code] }`), whereas if loglevel isn't trying to enable them at all they'll b

[2019-04-25 19:24] vidhill commented on #130
The methods that don't work log out as `ƒ () {}` -noop

[2019-04-26 09:23] pimterry commented on #130
And that's after calling `setLevel('trace')`? In that case, that suggests that `setLevel` isn't working.

The code is pretty simple. I don't have a react native environment set up, but if you debug through this, what should happen is that it calls [`replaceLoggingMethods`](https://github.com/pimterry/loglevel/blob/master/lib/loglevel.js#L68) with the level you pass, and then internally that should

[2019-05-01 12:28] vidhill commented on #130
Sorry for the delayed reply,
I ended up using [loglevelnext](https://github.com/shellscape/loglevelnext) for the project I am working on, and that behaves as expected,

If I get a chance I will investigate this and see if I can create a PR,

But I'm not sure how soon I will be able to get to it.

[2019-05-20 22:41] peyao opened #132 "Blocked by uBlock Origin (EasyPrivacy)"
Just raising awareness to this as it's causing problems for some using loglevel:

https://github.com/easylist/easylist/blob/master/easyprivacy/easyprivacy_general.txt#L2309

For apps including the dist/loglevel.js directly as a script tag, trying to use loglevel may throw.

I opened a PR on their repo: https://github.com/easylist/easylist/pull/3463
But you may want to follow up.

[2019-05-21 00:28] #132 closed

[2019-05-21 07:02] pimterry commented on #132
Ah, just to confirm: you've closed this because the linked PR is merged, so this is no longer an issue, is that right? Amazing if so, thanks for doing that 👍

[2019-05-21 07:42] peyao commented on #132
Right, no problem.

[2019-05-21 11:05] ossdev07 opened #133 "Jasmine:requirejs test is hanging"
Hello Team,

The grunt-contrib-jasmine and grunt-contrib-qunit used as a development dependency of the package are currently supporting phantomjs as a browser testing environment and phantomjs is an unmaintained project so it will be good to replace it with some maintained alternatives like chrome headless.

Updating the grunt-contrib-qunit and grunt-contrib-jasmine version to latest will provide

[2019-05-22 23:13] pimterry commented on #133
Hmm, not sure really! I would be interested in moving to Chrome headless, you're totally right, that'd be a valuable update over phantomjs.

Do the requirejs tests all pass locally for you before your changes? If you run it in Chrome non-headless, are there any interesting errors there?

I'm happy to try and give you some debugging pointers, but I'm afraid I don't have time to implement this mysel

[2019-05-28 07:32] muuvmuuv opened #134 "Set log level recursively"
I don't know if this is already possible, couldn't find anything in the docs but this would be very useful. I expect something like `log.setGlobalLevel()`, so all log level instances would be affected and not just one.

I have an application where users have the option to set debugging on and off while the app is running (VS Code extension). In a function called `checkConfig` I check for the confi

[2019-05-28 11:38] pimterry commented on #134
That makes sense, I can definitely see the use case.

You're right that it's not possible right now directly, but you can do this fairly easily with `log.getLoggers()` to get all loggers, and then just calling `setLevel` on each of the loggers returned. I haven't tested it, but in theory that should work very easily. Can you give that a go and let me know if it solves the problem for you?

[2019-05-28 12:04] muuvmuuv commented on #134
@pimterry I "don't" have such function. I'm using TypeScript and have notices that the types do not match the latest API of your lib. Maybe they should be updated first?

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/loglevel/index.d.ts

[2019-05-28 12:08] pimterry commented on #134
Aha, I see. It should definitely exist at runtime regardless - if you cast `log` to `any`, and then try it, does that work for you?

Those type definitions should definitely be updated anyway, so that this works normally. I'll take a look at that (and actually probably pull them back into this package directly) some time later this week.

[2019-05-28 14:02] muuvmuuv commented on #134
I'm really a fan of DefinitelyTyped but IMO keeping typings in the package repo makes more sense especially when it comes to issue tracking and fast updates.

[2019-05-28 14:07] muuvmuuv commented on #134
Yep this is working but a little messy :D

[code]

[2019-05-30 12:14] pimterry commented on #134
All done! @muuvmuuv if you update to loglevel@1.6.2 and uninstall `@types/loglevel`, you should pick up the new type definitions, which includes getLoggers, and this should work nicely.

By the way, the `length` check in your example probably doesn't work (`loggerList` is an object, not a list), and isn't needed anyway (`forEach` will do nothing if the list is empty), so I think you can simplify t

[2019-05-30 12:14] #134 closed

[2019-05-31 10:54] aleksandrsivanovs opened #135 "loglevel 1.6.2 is in conflict with @types/core-js 2.5.0"
Hi!

based on the latest release 1.6.2 (adding typescript definitions directly to the package) we are getting this error:
`node_modules/@types/core-js/index.d.ts(332,13): error TS2403: Subsequent variable declarations must have the same type.  Variable 'log' must be of type 'RootLogger', but here has type 'Log'`

[2019-05-31 11:24] pimterry commented on #135
Hmm, interesting. It seems we both define a global `log`, with different types, which of course fails.

Did you have `@types/loglevel` installed before, and did that used to work? If not, can you downgrade to 1.6.1, and install those types, and see if that works? I made some very small changes as part of inlining the type definitions here, and I'm wondering if that affected this.

In loglevel's ca

[2019-05-31 12:02] pimterry commented on #135
@aleksandrsivanovs I've done some more testing, and I've just pushed some changes that will fix this, and documented the workaround for anybody who really _does_ want global `loglevel` definitions.

Can you please try `npm install pimterry/loglevel`, to install the current master directly from github, and check if that solves your problem?

If you're happy that works, I'll put out a 1.6.3 release

[2019-06-11 13:08] aleksandrsivanovs commented on #135
Hi!

sorry - missed comments here.
verified - fixed now :)

please release 1.6.3 :)

Aleksandrs

[2019-06-11 13:21] pimterry commented on #135
Great, thanks for checking that. 1.6.3 is now released :+1:

[2019-06-11 13:21] #135 closed

[2019-06-14 07:09] ossdev07 commented on #133
@pimterry Thanks for the quick reply

The requirejs tests are all failing on my local system as well, but I am checking it with headless chrome only because the grunt-contrib-qunit and grunt-contrib-jasmine directly provide support for headless chrome with there latest versions.

It will be great if you could provide any debugging pointers, I will work through it.

Please have a look at some of my

[2019-06-29 19:16] rahamin1 commented on #130
Reagrding the functionality that does work in react native:

- anything special that you needed to do in setup?
- same question for how to use it
- in production, where is the log written to?

[2019-06-29 23:07] pimterry commented on #130
Hi @rahamin1, I'm afraid I'm not sure! I've never used React Native myself. Loglevel acts as a simple JS wrapper around `console.log` (and other `console.*` methods). In theory it shouldn't require any special setup, you should be able to just use the basic examples from the README, and the logs in production will go wherever console logs normally go for React Native.

Sorry I can't be more specif

[2019-09-05 12:22] mkvonarx opened #136 "invalid main attribute in package.json"
The main attribute in package.json of loglevel 1.6.3 is not correct. It references a directory instead of a file.

Current value:

Correct value:

With the incorrect value, the loglevel library does not work with webpack (4.39.3). I always get the error `Module not found: Error: Can't resolve 'loglevel' in '....'` from webpack when trying to use loglevel.

[2019-09-05 13:19] pimterry commented on #136
Excellent point, you're completely right. I've fixed this in https://github.com/pimterry/loglevel/commit/bb4f850fb54e58914d48739125791cbb61fc6d94, and its now released as v1.6.4.

Thanks for letting me know!

[2019-09-05 13:19] #136 closed

[2019-09-15 12:19] dorhugiEvinced opened #137 "log.debug should map to console debug in Chrome"
Although the [documentation](https://developers.google.com/web/tools/chrome-devtools/console/api) for Chrome console specifies that console.debug has a log level of "info", it actually has log level of "verbose".

With the current loglevel implementation, debug messages are mapped to console.info. This behavior doesn't allow filtering messages in the dev console which are actually "verbose", and h

[2019-09-26 13:57] jfaris commented on #130
@rahamin1 We are using loglevel successfully in a React Native project, I can answer your questions:

We need to re-init the logger(s) (we use multiple named loggers) after React Native starts because React Native adds hooks into console.warn and console.error for the "redbox" functionality.

We call this from our main `App` component constructor: `logger.setLevel(logger.getLevel())`

Running this

[2019-10-04 22:00] CaitlinWeb opened #138 "loglevel.trace() does not print message in IE11"
@pimterry Kudos for the awesome library you've created. Thank you 😄 I've got a hopefully small request that I don't think has been addressed before.

### Issue

On my current project where I'm trying to use loglevel we unfortunately need to support IE11. Ideally it would log everything similarly to Chrome and other modern browsers. Of course, IE11 treats console.trace differently.

When using `log

[2019-10-17 14:11] CaitlinWeb commented on #138
@pimterry I plugged that function in where I was using a `loglevel.trace()` but it didn't work, though it's close. `Error.stack` is undefined in IE11. I tried this and it worked:

[code]

It does include the wrapper function in the stack trace but I think that's acceptable, as long as the function is named appropriately. The rest of the stack was the same as just `console.trace()`.

[2019-10-17 14:14] CaitlinWeb commented on #137
I second this. Chrome currently displays debug logs in blue text under the "verbose" category. loglevel is mapping `console.debug` to `console.log` in all cases. Instead, if `console.debug` is present it should use that.

[2019-11-01 10:38] pimterry commented on #138
Hi @CaitlinWeb, sorry about the delay - I've just pushed a change (https://github.com/pimterry/loglevel/commit/feeaeb876c69a82a11422996bb9fe250c8ad282b) to make this work in IE11.

Can you test that out, and let me know if it solves the issue for you? You'll need to use `lib/loglevel.js` from the current master: https://github.com/pimterry/loglevel/blob/feeaeb876c69a82a11422996bb9fe250c8ad282b/lib

[2019-11-01 10:59] pimterry commented on #128
Closing for inactivity, but do let me know if you're still having issues.

[2019-11-01 10:59] #128 closed

[2019-11-01 11:06] pimterry commented on #137
Yeah, this has been divisive, I'm still not 100% sure either way. The original discussion is here: https://github.com/pimterry/loglevel/issues/64.

The main problem is that this log level doesn't appear in the console by default, which confuses users, as they expect loglevel alone to control which levels of output are visible. Most users don't even realise that chrome's level filtering exists at a

[2019-11-05 17:53] CaitlinWeb commented on #138
@pimterry No problem. Tried it out and it worked in IE11. Example output:

![trace-in-IE11](https://user-images.githubusercontent.com/6975769/68232406-02af5600-ffcb-11e9-9baf-e09dc7e57be8.png)

This is fine for our use case. Lemme know when this is in a release and I'll close this Issue. 😃

[2019-11-07 17:14] pimterry commented on #138
Now released! This is available in v1.6.6. Thanks for the report & the help :smile:

[2019-11-07 17:14] #138 closed

[2019-12-05 21:01] CaitlinWeb commented on #138
@pimterry Was just browsing through the documentation (to explain loglevel to team members) and noticed it says:

Might wanna update that to say what version includes the message for IE11 👍

And thanks for working with me on this, greatly appreciate the quick turnaround!

[2019-12-12 13:50] pimterry commented on #138
Good catch! Thanks @CaitlinWeb, I've just updated it.

[2020-01-05 17:59] ed4becky opened #139 "No log output"
I am trying to use loglevel in an angular.  I have abstracted the service (I don't think that's relevant), and whenthe service is created, a console.log shows output but loglevel does not.

[code]
I feel like something simple is missing...

[2020-01-05 18:12] pimterry commented on #139
Have you set the log level? It defaults to warn, so only warn & error messages will appear, and info messages (like these) will be hidden.

You can change that with `loglevel.setLevel("info")` (or trace/debug, just a level that's not higher than info), or `loglevel.enableAll()` which will show all messages.

[2020-01-05 18:36] ed4becky commented on #139
That was the issue, I thought the default was info.

Thanks for quick response

[2020-01-05 18:36] #139 closed

[2020-01-22 16:23] KonradHoeffner opened #140 "Mocha only works with default import"
I use `mocha@7.0.0-esm1` for the import support but when I import loglevel as suggested in the loglevel README as `import * as log from 'loglevel';` it does *not* work.

*test.js*
[code]
Executed via `mocha test.js`, it prints:

[code]
One can see that the default import exists. It also works correctly when using `import log from 'loglevel';`:

[code]

[2020-01-27 13:01] pimterry commented on #140
I hadn't seen a use of Node's ESM support in the wild until now, very cool! Totally agree this needs sorting. The challenge is that it's not consistent - some tools treat exports as the ESM root value, whilst others (as here) treat it as the default export.

For now I've expanded the details in the readme, to show both options and explain which might be relevant: https://github.com/pimterry/loglev

[2020-01-27 13:01] #140 closed

[2020-01-29 03:35] Dogcatfee opened #142 "v1.6.6 breaks useragent in node (matrix-js-sdk)"
While developing with matrix-js-sdk, loglevel throws errors about the useragent not being defined. Workarounds such as ```window.navigator={userAgent: 'node',}``` were tried before importing marix-js-sdk as well as in loglevel/lib/loglevel.js itself, however they did not fix the issue. This issue does not occur on v1.6.4.

[code]

[2020-01-29 08:12] pimterry commented on #142
So you're in node, but you have `window` defined globally? Interesting. Do you know why?

I think you might find that causes problems with a few other libraries too, since it's a pretty common pattern for detecting browser vs node environments.

That said, it'd be easy to handle this, so I'm very open to it. I'll try to put together a fix soon, and pull requests are very welcome in the meantime!

[2020-02-10 14:09] pimterry commented on #142
v1.6.7 has now been published, including a fix for this case. That should solve the issue, but let me know if you have any other problems.

[2020-02-10 14:09] #142 closed

[2020-03-14 04:51] verzac commented on #137
Hi @pimterry,

Thanks for the lovely plugin!

I personally think that people shouldn't be confused by a direct mapping to console.debug. I thought the aim of this library was just to control whether or not console.debug actually prints to the console, instead of compensating for users not knowing that their browser's log levels are set to INFO by default? Everyone's gone through the shenanigan of

[2020-05-21 06:19] devamchakrabarty opened #145 "How to dynamically control log level"
Is there any example for the following:

I couldn't find a way to intuitively change the log level at runtime.

[2020-05-21 09:38] pimterry commented on #145
Can you tell me any more about what you're trying to do? Do you want to change the level at runtime manually for one-off debugging, or control the level at runtime in your application code?

All you should need to do either way is call `log.setLevel(...)` to change the level. That's all that's required. Is that not working for you?

[2020-05-21 15:01] xmedeko commented on #124
Whatever name for env variable you choose, it should be possible to change the name of the variable (and disable it) so a user may avoid name conflicts is necessary.

The name of the variable should not be `DEBUG` since it's used already by very used https://github.com/visionmedia/debug project and two libs with both logging may meet in one project.

However, it would require to implement some nam

[2020-05-22 03:51] devamchakrabarty commented on #145
Yes, I'm looking for a way to change the level at runtime manually for one-off debugging (troubleshooting) tricky production issues. I tried `log.setLevel(...)` in the browser's console window but it complained about `log` not defined. I also changed the log level in the browser's local storage but that didn't have any effect.

In our code we've set the log level to be 'Warn' for production deploy

[2020-05-22 10:31] pimterry commented on #145
Ok, to do that you'll need to expose loglevel as a global. If you import loglevel with a bundler then it doesn't do that for you by default, so you'll need to either a) work out a way to require packages from your bundle at runtime, or b) explicitly expose `log` as a global. The latter means adding `window.log = log`, wherever it is that you're importing & configuring loglevel in your application

[2020-05-25 04:30] devamchakrabarty commented on #145
Thanks for your response. I don't think it is as easy as I thought it should be.
We're building an add-in for Microsoft Outlook which is a single page nodejs microsite within an iframe. We've added loglevel [directly to our web page](https://github.com/pimterry/loglevel#directly-in-your-web-page) and tried the window.log approach (option b in your comment above) but that didn't work. Since the mai

[2020-05-25 04:37] devamchakrabarty commented on #145
Thanks @pimterry, option b) from your comment above works for us. 👍

[2020-05-25 04:37] #145 closed

[2020-06-20 16:35] AmreeshTyagi commented on #124
what about `LL_LOG_LEVEL`?

[2020-06-25 15:36] webjay opened #146 "WebpackError: ReferenceError: window is not defined"
When building with [GatsbyJS](https://www.gatsbyjs.org) I get this error:

`WebpackError: ReferenceError: window is not defined`

Here's what Gatsby has to say about it:
https://www.gatsbyjs.org/docs/debugging-html-builds/

I'd like to import:

    import log from 'loglevel';
    import remote from 'loglevel-plugin-remote';

but I need to do it like this:

    const log = typeof window !== 'undefi

[2020-06-25 15:46] pimterry commented on #146
Which version of loglevel are you using? Does it say where exactly in the code this is failing?

Loglevel attempts to guard against exactly this by checking if `window` is available everywhere, and works fine in node without `window`, so there's something unusual happening to cause this.

[2020-06-28 11:52] webjay commented on #146
Versions:

    "loglevel": "1.6.8",
    "loglevel-plugin-remote": "0.6.8",

Here's what I get:

[code]

[2020-06-28 12:20] webjay commented on #146
My bad, this is only happening for `loglevel-plugin-remote`.

[2020-06-28 12:20] #146 closed

[2020-06-29 11:47] pimterry commented on #146
Ok! Glad to hear you've narrowed down the issue, do let me know if there's anything else I can do to help on the loglevel side.

[2020-07-03 23:06] jocafi commented on #137
I suggest to create a new method called "useConsoleDebug(value: boolean)" or "useChromeSpecification(value: boolean)" or another name in order to reorder (remap) the internal calls to the console methods using the Chrome specification.

[2020-08-06 13:09] comountainclimber opened #147 "React Native production mode app crashing bug"

[2020-08-06 13:10] comountainclimber opened #148 "React Native production mode app crashing bug"
When compiling a production binary in React Native / expo using loglevel something causes the following application crashing type error:

[code]

To reproduce this you can just create an expo application install loglevel and run `react-native run-ios --configuration=release`

NOTE: loglevel works perfectly fine in development mode and any other non production environment when working with expo/rea

[2020-08-06 13:12] #147 closed

[2020-08-06 13:36] #148 closed

[2020-08-07 03:36] Losses opened #149 "[TypeScript] Unable to use a plugin with typescript"
Just doing similar thing to demo code to add a new plugin:

![image](https://user-images.githubusercontent.com/1384036/89606053-a81c9080-d8a1-11ea-8731-1ad45b9e15db.png)

And got:
![image](https://user-images.githubusercontent.com/1384036/89606329-3ee94d00-d8a2-11ea-9dc8-b1838806afdd.png)

Maybe there're some thong wrong with the TypeScript definition

[2020-08-10 07:50] pimterry commented on #148
You've closed this issue - @comountainclimber is that because you've shown that it's not a loglevel bug, or because you've found an alternative/workaround?

[2020-08-10 16:53] pimterry commented on #149
You're right, I can reproduce this, and it's incorrect, but I have no idea why it's happening. It's definitely not marked as a read-only property explicitly.

Any suggestions? Happy to take hints or PRs to get this fixed.

[2020-08-10 22:10] comountainclimber commented on #148
@pimterry it appears to be working totally fine I created a demo below:
https://github.com/comountainclimber/rn-loglevel-example

Production build works fine and I am no longer seeing the error with `react-native run-ios --configuration=release`

[2020-08-11 10:00] pimterry commented on #148
Ok, great! Thanks for letting me know

[2020-08-18 18:16] vvanpo opened #151 "Support `loglevel.getLogger(Symbol())`"
Passing a string to `getLogger` does not ensure that your logger won't collide with existing loggers, leading to unexpected behaviour. In tests or for libraries that don't know much about what environment they're running in, it can be helpful to use `Symbol` to ensure there can never be collisions.

[2020-08-19 12:06] pimterry commented on #151
Great suggestion! I've added support for that in https://github.com/pimterry/loglevel/commit/ae3a282a02ce377edad43e129c83a6d53cd7ed0c.

The one tricky bit is that we previously used names for log level persistence: in a browser, the level for each logger is stored as `loglevel:${logname}` in local storage. We can't uniquely do that for symbols, so I've just dropped persistence for symbol-named log

[2020-08-19 22:34] vvanpo commented on #151
Thanks for the quick turnaround! And yes, that definitely works for me.

[2020-08-25 23:18] #151 closed

[2020-08-26 13:22] #149 closed

[2020-08-26 13:27] pimterry commented on #149
Ok, I think I know the cause of this. The problem is that TypeScript assumes that `import * as ...` module export properties are always readonly. That's not true in many real environments, but I think it's required by the ES6 spec, and so will be true in native ES6 environments.

Fortunately, this _is_ possible if you're using a default import. That was only supported in TS if you had `esModuleInt

[2020-09-08 15:05] eouia opened #153 "Alternative importing in browser as an ECMA module"
Thanks for your great job.
I'm not sure this is a usual way to use this module in a browser, however, I want you to consider this.

#### WHAT I WANTED ####
I have an ECMA module js that is working on the browser, that module needs to import your `loglevel`. But don't want to load it explicitly by `<script>`. Because myModule will be loaded by the condition of the client.
[code]
But every trial was

[2020-09-11 14:14] pimterry commented on #153
I'm open to this, but I'm not sure how to do it either! I'm not familiar with the standards for using ESM directly (as opposed to using a bundler or compiler). If you or anybody else manages to put together a PR though, I'd be very interested.

In the meantime, if you're really keen to us ESM natively in the browser, I'd suggest using [skypack](https://www.skypack.dev/), which acts as a CDN that t

[2020-09-11 14:40] eouia commented on #153
Thanks for the suggestion.
Unfortunately, my project is something like standalone KIOSK which might have no internet connection. That's why served as a URL on the local webserver.  But I'll try your suggestion on my other projects.

Anyway, I'm not familiar with the standards for using ESM directly without bundler, too. This project is somewhat annoying for me, due to;
- no internet connection; (C

[2020-09-11 14:40] #153 closed

[2020-11-11 13:34] Anush-DP opened #154 "Getting filename & line number as chunk.js"
I am using loglevel in my React app along with [loglevel-plugin-remote](https://github.com/kutuluk/loglevel-plugin-remote) and when I do log.error() I get filename and line number as chunk.js in the stack trace in my log server, but in the browser console, I get the proper filename with proper line number.
Example:
[code]
Can you please tell me how I can know/get the actual file name and line numb

[2020-11-11 14:01] pimterry commented on #154
This is probably due to your source maps configuration. I expect `main.chunk.js` is the output of your build process, and that that is the real javascript file that's running in your page (so that server stack trace is actually the correct one).

Your build process must also be producing a source map though, which turns `main.chunk.js` references back into references to the original raw code. http

[2020-11-11 14:01] #154 closed

[2020-11-12 15:45] Anush-DP commented on #154
Thank you so much for your help @pimterry. I learnt something new today 😄 .

[2020-11-16 06:58] anh-rivergon opened #155 "ESM - Angular 10 Support?"
WARNING in MyLogging.js depends on 'loglevel'. CommonJS or AMD dependencies can cause optimization bailouts.
For more info see: https://angular.io/guide/build#configuring-commonjs-dependencies

How would I get rid of the warning? This happens during tree shaking and I'd like ascertain that optimization does take place?

Thank-you

[2020-11-16 08:21] pimterry commented on #155
I don't know anything about Angular's build process I'm afraid. However, I imagine the optimization is an analysis of how loglevel's exports are used, and whether that means that some of loglevel's own dependencies or code can be omitted from your bundle. Since loglevel is tiny and doesn't have any dependencies at all, you can safely skip that anyway, it shouldn't make any significant difference.

[2020-11-23 09:05] anh-rivergon commented on #155
"This could also be fixed by migrating loglevel to ESM - if you're really interested, I'd be open to a PR that added that as an output from the build process, but it's a bit complicated to do whilst preserving the existing setup."

Absolutely :) I was looking for an ESM version of loglevel. That should solve the issue.

[2020-11-24 16:48] pimterry commented on #155
Ok, great! Feel free to open a PR for that, let me know if you have any questions en route. I do want to continue to support the existing UMD output, but I would be very happy to support more formats too if there's interest.

[2020-11-25 09:46] dixdiydiz commented on #151
@pimterry
index.d.ts should fix:
  getLogger(name: string): Logger;
to
  getLogger(name: string | symbol): Logger;

[2020-11-25 14:21] pimterry commented on #151
Good catch, thanks @dixdiydiz! Now fixed in v1.7.1.

In future do feel free to throw in a PR, I'm very happy to merge tiny fixes like that straight away.

[2020-12-15 02:40] yanerchuang opened #156 "Uncaught ReferenceError: _typeof is not defined"
Error info:
` Uncaught ReferenceError: _typeof is not definedloglevel.js?16b7:22 (anonymous function)loglevel.js?16b7:10 nooploglevel.js?16b7:7 (anonymous function)vendors~main.7834f5219e6934f41c1e.js:3824 push../node_modules/_loglevel@1.7.1@loglevel/lib/loglevel.jsmain.js:859 __webpack_require__main.js:151 fnlog.js?99fd:3 (anonymous function)vendors~main.7834f5219e6934f41c1e.js:4048 push../node_m

[2020-12-15 12:52] pimterry commented on #156
I'm fairly sure this is due to something in your build process. Having `"undefined"` come from a variable instead of being inline should be identical from JS's point of view, so there must be a bug elsewhere.

The only references to that error that I can find seem to be related to Babel, e.g. https://github.com/babel/babel/issues/4125. Are you using Babel somewhere? It might be worth updating your

[2020-12-17 16:56] pimterry commented on #156
I'm going to close this for now. I'm happy to look into this further if there is a clear loglevel issue, but in general this appears to be related to babel config.

[2020-12-17 16:56] #156 closed

[2021-01-26 12:01] tukusejssirs opened #157 "Only `log.info()` messages are output in `catch()` when the level is set to `info`"
I set the log level to `info`. I `try()` executing a command and `catch()` its output. In `catch()`, I’d like to output some messages based on the log level. However, only `info` messages are output.

Note that when I set the log level to `trace`, besides `info` messages, `debug` messages are output too.

IMHO, all messages up to the set level should be output.

[code]

[2021-01-26 14:52] pimterry commented on #157
Can you provide an example to reproduce this issue? Which version of loglevel are you using, in what environment?

Otherwise as far as I can tell this already works correctly, and this is well-tested & in widespread use in all sorts of places. Testing your code in a node REPL for example:

[code]

As expected - info, warn & error all log, and trace & debug are excluded.

Can you share more details

[2021-01-26 16:45] tukusejssirs commented on #157
FYI, I installed `loglevel` 1.7.1 via `npm` on Fedora 31 x86_64 (Workstation) and on CentOS 8 (non-Stream, minimal server).

However, now I can’t reproduce the behaviour. However, I am sure it didn’t work in my case (even with the MWE). It always worked with `info` level, but not with `warn` level.

Sorry I opened an issue I can’t reproduce anymore. :disappointed:

[2021-01-27 11:28] pimterry commented on #157
Fair enough, no worries!

I'm going to close this for now since there's nothing really I can do to investigate, but if you or anybody else manages to reproduce this then do let me know, I'm very happy to look into it further.

[2021-01-27 11:28] #157 closed

[2021-01-28 04:08] yesparthasarathy opened #158 "Dynamic Log level settings in Browser Console"
We are using the log-level in angular application. we would like to set the loglevel dynamically in the console (Developer console, so that we can see the debug information on the fly). we don't know how to get the instance of the root logger in the developer console.

[2021-01-28 15:27] pimterry commented on #158
This isn't really something that's up to loglevel - it depends how your application works and builds itself.

The easiest option would be to run something like `window.loglevel = loglevel` in your code from a place where it is that you do have access to loglevel. That will explicitly make it globally available, so you can just run `loglevel.whatever` from your browser console.

Alternatively, if y

[2021-01-28 15:27] #158 closed

[2021-01-29 04:36] yesparthasarathy opened #159 "Log.error should stringy the error object"
we are using the log.error method to log the error. some time error object has some circular reference, which causing issue on the application level. please advice

[2021-01-29 11:47] pimterry commented on #159
Loglevel is intentionally _not_ going to do this: the goal is to be a simple wrapper around `console.log` to let you control logging levels dynamically from your code, and to make it behave consistently across different platforms (so if something consistently fails everywhere when using console.log, then it should also fail when using loglevel).

You should do whatever you'd normally do when loggi

[2021-01-29 11:47] #159 closed

[2021-03-03 12:33] Kureev opened #160 "GDPR: Add an option to disable cookie persistence"
Hi,

First of all, thank you for such an amazing project! We've been using it for a couple of years and it works like a charm ❤️ .

Recently, we discovered that `loglevel` might use cookies for persistence. While this sounds like an absolutely great idea, we should have an option to disable it. Having it always on would violate GDPR policy around "functional" cookies. Unless customer would allow t

[2021-03-03 12:52] pimterry commented on #160
You should talk to your own legal/privacy team, but I'm fairly confident that:

* You don't generally need consent for strictly functional cookies, which covers loglevel is most contexts, so I would be surprised if this really is required in most environments.
* In cases where this is required (e.g. using loglevel inside marketing code only) you do almost certainly need to disable persistence _com

[2021-03-03 13:10] Kureev commented on #160
That's a great response, thank you! I'll double-check this with the legal team and come back to you 🙏

[2021-03-10 07:40] Doogiemuc opened #161 "Is `console.log()` reference redefiend by loglevel?"
Could it be that loglevel is (still) redefining the console.log function?  (See https://github.com/pimterry/loglevel/issues/129)

I am redefining console.log in my own module. And after some time my method is not called anymore. I am *not* calling `loglevel.setLevel(...)` as mentioned in the issue #129

My code:
[code]
This works at the beginning.  When some code calls console.log, then my call is

[2021-03-10 13:11] pimterry commented on #161
No - loglevel never redefines `console.log`, it doesn't mutate the console object at all. The discussion in #129 is just talking about loglevel defining its own `loglevel.debug` method.

There must be something else going on here. Can you put together a standalone demo reproducing the behaviour you're seeing?

[2021-03-10 18:31] w93163red opened #162 "Keep source(file:line) remain the same when methodFactory is been called."
Not sure if it is a bug.. but wondering if there is a solution:
![image](https://user-images.githubusercontent.com/7308728/110678817-b66abc00-81a4-11eb-8863-9f3ac0a92ba4.png)

You can see the difference on the right side that the [file:line_number] has been changed. Is there anyway to remain the [file:line_number] as it invoked?

The code I have implemented is pasted below :)

Thanks!

[code]

[2021-03-10 18:35] pimterry commented on #162
In general this isn't possible, see [the docs](https://github.com/pimterry/loglevel#writing-plugins) for a little more explanation.

In your specific case, you might be in luck though. You can't avoid this if you wrap the logging functions, as you've done here, but you can if you `bind()` your extra arguments in. For a message prefix like you're using, you can do that like so:

[code]

[2021-03-10 18:49] w93163red commented on #162
Thanks for the quick response! When I tried your solution, the log is not shown in the console.
[code]

[2021-03-10 18:53] pimterry commented on #162
Ah, no - `bind` returns a changed function, which means that you don't need the wrapper function any more. The full example should look like this:

[code]

The only way to ensure your wrapper's code doesn't appear as the source of the logging is to remove the wrapper entirely.

[2021-03-10 18:55] w93163red commented on #162
Nice! It works!!! Deeply appreciate your help!

[2021-03-10 18:55] #162 closed

[2021-03-15 16:44] Doogiemuc commented on #161
Ok I learned a lot about bind(), apply() and call() in the last days. And that it is *not* a good idea to redefine console.log  because you loose the stacktrace information in the browesers log  .... nevermind.

[2021-03-15 16:44] #161 closed

[2021-03-15 18:44] Doogiemuc commented on #42
I stumbled upon the same quest.  While it is possible to replace/redirect console.log (and friends) to logLevel, the remaining problem is that the browser then shows the logoutputs as if they'd be coming from the loglevel module and not from where they originally were called.

(And no bind(), call() or apply() do not help. I tried everything :-(

[2021-03-17 15:27] nboxall1 opened #163 "log is not defined when attempting setLevel() in console"
Apologies, this is more of a question than a bug report.  In the documentation it says "...then run log.setLevel("trace") in your console to turn it all back on...".  I'm using Chrome on a Mac. When I enter log.setLevel("trace") in the dev tools console for an app I am developing with has imported loglevel as log i'm getting "Uncaught ReferenceError: log is not defined". I'm obviously missing some

[2021-03-17 15:52] pimterry commented on #163
It sounds like `log` is not available in the global scope, for example you've imported it only inside a module of your application, so it's only defined in that scope. Does that sound plausible?

If you want to access `log` globally, you'll either need to import it globally somehow, or more likely you want to expose it globally from your application code, e.g. by putting `window.log = log` inside

[2021-03-17 16:46] nboxall1 commented on #163
Yes, `window.log = log` in my root project file did it for me. Thanks so much for the instant response!

[2021-03-17 17:37] #163 closed

[2021-03-17 17:38] pimterry commented on #163
No problem, glad to hear that worked for you!

[2021-03-31 13:43] Kureev commented on #160
Apparently, it will take time to figure this one out on our side. I'll close this ticket for now and reopen if applicable. Thank you so much for your help!

[2021-03-31 13:43] #160 closed

[2021-04-07 09:45] eurostar-fennec-cooper opened #164 "Programmatic log levels"
Suggestion: in many loggers, there is a method where one can pass the log level, followed by the log messages. It would be very useful for loglevel to support this as well. Ie
[code]
Versus
[code]

[2021-04-07 10:53] pimterry commented on #164
Unfortunately, if you do that then you will break the stack trace in the browser console. Instead of coming from the right place inside your code, every message will come from the same line, inside your `log` function.

Currently, loglevel avoids this by ensuring that every logging function is just a bound version of the appropriate console function (or a no-op function, if the log level is disabl

[2021-04-07 10:53] #164 closed

[2021-04-21 11:10] xmedeko commented on #124
`ulog` is configurable from env var and it allow to set log levels, too, see [ulog Log configuration syntax](https://github.com/Download/ulog#log-configuration-syntax)

E.g. this `test=debug;my:*,-my:lib=info` means "set the logger `test` to `debug` and `my:*` loggers except for `my:lib` to `info`.

[2021-04-21 14:21] xmedeko commented on #87
Try to iterate over `getLoggers()` result.

[2021-04-21 14:26] xmedeko opened #165 "Configurable persistency"
`getPersistedLevel` is called for each logger. I do not need that. I think the persistence should be configurable same way as `methodFactory` for plugins - i.e. it should be possible to switch it off, use only cookies, etc.

[2021-04-21 14:31] xmedeko commented on #160
See #165

[2021-04-25 19:16] pimterry commented on #165
Hi @xmedeko. Could you tell me more about why you need to disable this?

Right now, persistence is fully configurable at level configuration time - you can pass an option to `setLevel` to control this. If you never call that with persistence enabled, then nothing will ever be stored, and `getPersistedLevel` will never do anything, and has no impact. Is there a reason that doesn't work for you?

Un

[2021-04-25 20:10] xmedeko commented on #165
I would like to disable it because it's useless for our Electron.js app. It's a very small slow down for every `getLogger()` call (and I use `getLogger()` often.)

May be you think - hey, the slow down is negligible, why do you care? My reply is: why not to care? Why to have some code reading localStore and cookie which I do not need? IMO a good logging library should do just logging and everythin

[2021-04-25 21:37] pimterry commented on #165
It's not called every time you call `getLogger`, it's called once for each different logger that you use. If you pass the same name twice, it's only called the first time around: https://github.com/pimterry/loglevel/blob/342f103eed48f29db854533d2cbfe254690f9113/lib/loglevel.js#L247-L252

I've done a little digging, and as far as I can tell in practice you'd have to instantiate many thousands of _d

[2021-04-26 05:55] xmedeko commented on #165
I just repeat my previous comment:

Instead of `getLogger({ persistence: false })` I would welcome some configuration like `methodFactory` - e.g.:
[code]
Which would be more versatile.

This is not a blocker for me, just IMO such things should be configurable. And, of course, I can always do copy&paste a remove that code.

[2021-04-29 10:16] chmac commented on #130
@pimterry Open to a PR that adds some of these React Native notes to the readme?

When I saw this issue as open from 2019 I assumed that React Native was not supported, but it seems like there is a working option, just that it requires some magic to workaround React Native's non standard console behaviour. Would it therefore make sense to close this issue?

[2021-04-29 12:19] pimterry commented on #130
Good point @chmac! Yes, a PR that documents the above would be happily received.

I think the effective summary is that you just need to call `log.setLevel(log.getLevel())` after React native has initialized its console logging hooks, although I'm not totally clear at exactly what point that happens myself (if you know React Native better, any input on that would be useful). Happy to close this on

[2021-05-05 09:07] xmedeko opened #166 "methodFactory logLevel parametr has always same value"
When I set my own `loglevel.methodFactory` then the parameter has always same value - the min. number set by `setLevel`.
E.g. https://jsfiddle.net/xmedeko/e9z1038x/9/ :
[code]
The output shows `logLevel` param as 1, 1, 1. Is this behaviour ok?

I would expect it to be 2, 3, 4 according to the `methodName`. So as I can do e.g.
[code]

[2021-05-05 10:34] pimterry commented on #166
Yes, that's correct! It's telling you the configured loglevel, not the level of the logger you're implementing (which would really just duplicate `methodName`).

This argument is provided primarily really because it's needed for the internal method factory implementation that uses it as part of [supporting older IE versions](https://github.com/pimterry/loglevel/blob/342f103eed48f29db854533d2cbfe25

[2021-05-06 07:20] xmedeko commented on #166
Yes, the current log level may be get from `methodName` easily, it was just confusing for me. I will try to make doc PR.

[2021-05-07 10:58] #166 closed

[2021-06-22 21:46] pslzr opened #169 "Show filename and line of logging code"
when using methodFactory and modifying logging functions, the source lines are always the same (the rawMethod calling line.!!)

Is there a way to show the REAL original source code line?

var originalFactory = log.methodFactory;
log.methodFactory = function (methodName, logLevel, loggerName) {
    var rawMethod = originalFactory(methodName, logLevel, loggerName);
     return function (...args) {

[2021-06-23 11:34] pimterry commented on #169
That's because of your implementation: you're wrapping the raw method in your own function, so that is included in the source line. There's more detail in the 2nd paragraph of the plugin docs: https://github.com/pimterry/loglevel#writing-plugins.

The only way to avoid this is to call `rawMethod` without adding a function wrapper. For some use cases (e.g. prefixing a fixed string) you can do this

[2021-06-23 11:34] #169 closed

[2021-06-23 16:06] pslzr commented on #169
Thank you for your help. Best regards..

[2021-08-11 22:04] gajus opened #170 "Would you consider deprecating in favor of Roarr?"
Hi @pimterry

I wouldn't suggest this if the project was actively maintained (judging only by lack of recent commits), but I was wondering if you are planning to deprecate this project and if so would you suggest [Roarr](https://github.com/gajus/roarr).

The documentation for Roarr includes my motivation for maintaining yet another logger, and based on the API of loglevel, I feel like we have over

[2021-08-12 10:09] pimterry commented on #170
Hi @gajus! Thanks for getting in touch. This library isn't unmaintained though, it's simply 'done'. It's very widely used, and there's still occasional questions and discussion in the issues that get handled, and small changes every few months, but yes nothing major is changing now.

I hadn't seen Roarr, looks interesting. I'm not sure it's targeting the same audience as this library though. Logle

[2021-08-12 10:09] #170 closed

[2021-08-12 14:29] gajus commented on #170
Thank you for a thorough response.

I am thinking of creating a directory of all logging solutions for JavaScript. Will definitely include `loglevel`.

[2021-10-03 16:38] hirako2000 commented on #123
I tried to submit a PR, but I'm having issues actually getting a demo to run as expected.
Here is the value of demos:  Demonstrate basic functionalities. I can't get tracing to work even though I set the level to tracing. A demo can best show how enabling tracing works as I surely do something wrong.

[2021-10-06 14:40] hirako2000 commented on #123
Do you see the tracing call in the  console tab ? I don't with  latest desktop chrome build for latest osx.

I wouldn't say it's a library bug. Just trying to get close to a demo url we could place on the reademe to keep new users happy.
If it works for you, just merge the codepen. Or provide a better one than the rudimentary statements I placed in there.

[2021-10-08 16:07] rsi-yhe opened #171 "loglevel duplicate log in React component?"
![Screen Shot 2021-10-08 at 11 57 03 AM](https://user-images.githubusercontent.com/91493359/136587696-d814fa76-5246-42a7-9e14-089d70b8f50c.png)
Hi, I try to use `loglevel` in React, and seeing it print duplicate lines.
The project is freshly created with `create-react-app` and I just added two lines of `loglevel.log` and `console.log` in the `App.tsx`. As you can see in chrome console, `console.lo

[2022-02-16 17:03] ELeigh91 commented on #149
Worked for me using _"allowUmdGlobalAccess": true_ in the _tsconfig.json_

[2022-03-08 19:58] shanemcandrewai opened #174 "Is it possible to import Loglevel as an ES module in client-side javascript?"
Hi,

I tried the following -

loglevel.html
-------------
[code]
scripts/loglevel.js version 1
-----------------------------
[code]
result version 1
-----------------
`Uncaught SyntaxError: The requested module 'https://unpkg.com/loglevel/dist/loglevel.min.js' does not provide an export named 'default'`

scripts/loglevel.js version 2
-----------------------------
[code]
result version 2
----------

[2022-03-09 12:21] pimterry commented on #174
It's not possible to import that URL as a module, but you can load it directly as a raw script and it will define a `log` global, which is usable without bundling or other tools. That works like this:

[code]

This is because this officially published release isn't built as a pure ES module right now - instead it's built as [UMD](https://github.com/umdjs/umd), which supports CommonJS, RequireJS an

[2022-03-09 13:06] shanemcandrewai commented on #174
Hi Tim, thanks for your explanation. The background to my question is that I am trying to eliminate ESlint errors relating to loglevel. I was able to successfully import the Skypack version after downloading it to the HTTP server.  Now I get different errors -

[code]

[2022-03-09 13:16] pimterry commented on #174
All of those errors are related to your code, not loglevel's. You can look up ESLint's docs for each error here: https://github.com/import-js/eslint-plugin-import/tree/main/docs/rules

The 2nd is because you've included `.js` in the require path when it's not necessary, you just need to remove that. I think you can probably fix the 1st and 3rd too by importing as `import * as log` instead of using

[2022-03-09 16:55] shanemcandrewai commented on #174
Your suggestion removed the 1st and 3rd errors but removing the .js extension causes a browser error

`GET http://localhost:3000/scripts/loglevelES net::ERR_ABORTED 404 (Not Found)`

[2022-03-09 17:01] pimterry commented on #174
This errors are problems with your ESLint setup or your code, I can't help with that I'm afraid. If `.js` doesn't work in your setup, then your ESLint configuration or your other project setup must be wrong.

The ESLint docs for that rule are here: https://github.com/import-js/eslint-plugin-import/blob/main/docs/rules/extensions.md. If you're still having issues with ESLint I'd suggest opening an

[2022-03-09 17:01] #174 closed

[2022-03-19 16:01] Moinax commented on #137
This is still open and I still don't see why you do such an exception for `log.debug`: If the user set his chrome console level to `error` he won't be able to see the `log.info` anyway.

[2022-03-30 17:33] pimterry commented on #171
Great, thanks for the update @gaearon!

[2022-04-14 18:39] silasabbott commented on #137
Is there a reason why mapping `log.debug()` to  `console.debug()` with `console.log()` as a fallback can't be done? With `console.debug()` being officially supported in all browsers, I feel it really does need to be accounted for.

[2022-06-17 20:02] mjovanc opened #175 "Possibility to save log output to file"
Is there some possibility to save the log output to a file through loglevel?

[2022-06-17 20:31] Ryuno-Ki commented on #175
I could imagine via a plugin. Perhaps https://github.com/kutuluk/loglevel-plugin-remote ?

[2022-06-17 20:53] mjovanc commented on #175
Thanks @Ryuno-Ki, I realized though I could just simply add this to my start script:

[code]

[2022-06-17 20:54] Ryuno-Ki commented on #175
Do you mind to close this issue then?
You've documented a solution for others who might ask themselves the same.

[2022-06-17 21:15] mjovanc commented on #175
Absolutely. Closing the issue.

[2022-06-17 21:15] #175 closed

[2022-08-11 19:34] rretter opened #176 "current npm web page for loglevel shows no documentation at all"
seems like the most recent release of loglevel into npm's reality didn't carry the README along with it, so far as npm's web page at https://www.npmjs.com/package/loglevel shows

[2022-08-12 11:32] pimterry commented on #176
I'm not sure what you mean @rretter? I see the exact same content on https://www.npmjs.com/package/loglevel as in the README here: https://github.com/pimterry/loglevel#readme

[2022-08-13 01:18] rretter commented on #176
interesting.  Chrome shows the page as you describe, but Brave (also
Chromium-based) does not (it shows the attached PNG).

could be either a Chrome/Brave difference (less likely) or some unintended
side effect of my browser settings in Brave (more likely).  since hunting
through browser settings to determine cause-and-effect is more fun than i
think i can stand (which you may agree with, if you'v

[2022-08-15 11:50] pimterry commented on #176
I have Brave installed already, and it shows fine there for me! I can't seem to reproduce this. I'm going go to assume it's something to do with your extensions or other configuration, but if you can find something specific in that page that's causing issues do let me know. I would suggest looking at the browser console for error messages there, since that often has clues to these kinds of problem

[2022-08-15 11:50] #176 closed

[2022-08-19 15:02] dman777 commented on #10
9 years later... Same thing with Typescript.... can't wait till it goes away

[2022-08-25 20:43] JESii opened #177 "LogLevel output doesn't show when running in a test"
First off, thanks for this module -- been using it for some time now and it really works great!

However, when I'm testing a module that has a logger, any output logged by the logger is MIA, while logs created via simple console.log appear just fine.
I'm using:
Loglevel 1.8.0
React TestingLibrary 11.2.6
MacOS BigSur 11.6.8

Here's my logger component:
[code]

Here's some sample code; notice that I

[2022-08-26 14:47] pimterry commented on #177
Hard to say I'm afraid! What happens if you put a `console.log(...)` and `logger.log(...)` calls outside the test, e.g. just after the `enableAll()` call?

I suspect what's happening is that something else in your test stack is patching the console methods, but loglevel is capturing them early on (when `setLevel` or `enableAll` is called) and that's causing issues. We've seen similar issues from R

[2022-08-27 14:20] JESii commented on #177
Thanks much… I’ll give that a whirl when I’m back in the office!
Have a great day!

Jon Seidel, CMC®

[2022-08-28 14:55] JESii commented on #177
Thanks @pimterry. Tried what you suggested:
(1) adding console/logger calls after enableAll() outside the test - no luck (e.g., console.log => display; logger.log => no display.
(2) moving enableAll() and the console/logger calls inside the test - no luck
+ I went through the setupTests.js file (testingLibrary) and tried some Jest config options (e.g., `--silent=false`) - no luck
+ I also modified

[2022-08-29 13:45] pimterry commented on #177
Hard to say! I would suggest debugging inside loglevel's code in your environment (it's very very short, this is a tiny library) and trying to work out why `console.log` in your code isn't the same value as `console[methodName]` when methodName is 'log' [here](https://github.com/pimterry/loglevel/blob/f5a642299bf77a81118d68766a168c9568ecd21b/lib/loglevel.js#L66-L82).

Effectively, all loglevel doe

[2022-08-29 15:08] JESii commented on #177
Thanks, Tim... I'll work on that.

[2022-08-29 15:40] JESii commented on #177
Well... that's interesting, and looks to be a work-around.
I tried all the console.xxx options and found that Jest does display `console.warn` and `console.error` messages and doesn't fail the test in either case. I get a lot of unneeded stack trace info, but at least I get my console display from logger.warn.
[code]

[2022-08-29 16:09] JESii commented on #177
But it looks as if when Jest fails a test, all that user-generated logging disappears...

[2022-08-30 05:52] DanEEStar opened #178 "LogLevel `trace`, `debug` and `info` not shown anymore on Google Chrome"
The output of `log.trace(msg)`, `log.debug(msg)` and `log.info(msg)` is not shown anymore on the current version of Desktop Browsers. I am on MacOS 12.5

`log.warn(msg)` and `log.error(msg)` still work as expected.

I checked it today on Google Chrome 104, Brave 1.42 (based on Chrome 104), Firefox 104 and also Safari 15.6 -> They will only show messages from `warn` and `error`. All other level mes

[2022-08-30 05:59] DanEEStar commented on #178
This is somewhat embarrassing...

The default log level seems to have been on `warn`.
When I set `log.enableAll()` the console starts to show `debug` and `info` messages. (`trace` is still hidden).

But did maybe somehow the default log level, or the handling of this, change in recent months on browsers?

[2022-08-30 09:48] pimterry commented on #178
Hi @DanEEStar, I'm afraid not. I'm not aware of anything that could cause this and loglevel hasn't had any new changes published for quite a few months now. In some browsers there are  browser-configured loglevels which could hide certain outputs, controlled by settings in the console itself, so if you've changed that then it might've hidden messages unexpectedly?

Beyond that I'm not sure, but I

[2022-08-30 09:48] #178 closed

[2022-08-30 10:10] pimterry commented on #177
Have you reported this to the Jest team? It seems like Jest is clearly doing its own custom handling of log output, and so I feel like they'll be more help here.

[2022-08-30 12:31] JESii commented on #177
Good idea; thanks for all your help on this!

[2022-09-27 11:21] #80 closed

[2022-11-25 12:02] brett-matson opened #180 "Log to a file"
Sorry, this is probably an obvious question: is there a way to get loglevel to write to a file?

Thanks in advance

[2022-11-25 12:23] pimterry commented on #180
As a built-in feature, no. Loglevel intentionally doesn't include any kind of advanced features like this, it's out of scope.

It should be possible as a plugin on top of loglevel though (see https://github.com/pimterry/loglevel#plugins). From a quick google, it looks like somebody has implemented that here: https://github.com/infinum/loglevel-filesave.

[2022-11-25 12:23] #180 closed